<ul class="price-list__features">
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/11mm.svg" alt="11mm" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature1" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/laminated.svg" alt="Stone foil" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature2" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/Waterproof.svg" alt="Nano impregnation" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature3" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/touch.svg" alt="Touch control" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature4" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/Dimmable.svg" alt="Backlighting" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature5" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/Mounting.svg" alt="Easy installation" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature6" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/Repair.svg" alt="Replaceable LED" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature7" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/temperature.png" alt="Adjustable temperature" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature8" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/RF_control.svg" alt="RF control" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature9" />
  </li>
  <li>
    <div class="price-list__icon">
      <img src="./images/symbols/MobileControl.svg" alt="Mobile control" height="40px" width="40px" loading="lazy" />
    </div>
    <span data-localize="price_feature10" />
  </li>
  <li>
    <div class="price-list__icon">
      <span>RAL</span>
    </div>
    <span data-localize="price_feature11" />
  </li>
</ul>