---
import { useTranslations, type Lang } from "../../i18n/utils";

interface Props {
  lang?: Lang;
}

const { lang = "cs" } = Astro.props;
const t = useTranslations(lang);
---

<ul class="price-list__features">
  <li>
    <a href="#thickness-16mm" class="link link--light" rel="internal">
      <span>{t("price.feature1")}</span>
    </a>
  </li>
  <li>
    <a href="#thickness-34mm" class="link link--light" rel="internal">
      <span>{t("price.feature2")}</span>
    </a>
  </li>
  <li>
    <a href="#laminated" class="link link--light" rel="internal">
      <span>{t("price.feature3")}</span>
    </a>
  </li>
  <li>
    <a href="#nano-impregnation" class="link link--light" rel="internal">
      <span>{t("price.feature4")}</span>
    </a>
  </li>
  <li>
    <a href="#touch-control" class="link link--light" rel="internal">
      <span>{t("price.feature5")}</span>
    </a>
  </li>
  <li>
    <a href="#backlight" class="link link--light" rel="internal">
      <span>{t("price.feature6")}</span>
    </a>
  </li>
  <li>
    <a href="#quick-mounting" class="link link--light" rel="internal">
      <span>{t("price.feature7")}</span>
    </a>
  </li>
  <li>
    <a href="#easy-repair" class="link link--light" rel="internal">
      <span>{t("price.feature8")}</span>
    </a>
  </li>
  <li>
    <a href="#thickness-34mm" class="link link--light" rel="internal">
      <span>{t("price.feature9")}</span>
    </a>
  </li>
  <li>
    <a href="#temperature" class="link link--light" rel="internal">
      <span>{t("price.feature10")}</span>
    </a>
  </li>
  <li>
    <a href="#rf-control" class="link link--light" rel="internal">
      <span>{t("price.feature11")}</span>
    </a>
  </li>
  <li>
    <a href="#smartphone-control" class="link link--light" rel="internal">
      <span>{t("price.feature12")}</span>
    </a>
  </li>
  <li>
    <a href="#color-palette" class="link link--light" rel="internal">
      <span>{t("price.feature13")}</span>
    </a>
  </li>
</ul>
