<ul class="price-list__features">
  <li>
    <a href="#slim-11mm" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/11mm.svg"
          alt="11mm"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature1"></span>
    </a>
  </li>
  <li>
    <a href="#slim-11mm" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/32mm.svg"
          alt="32mm"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature2"></span>
    </a>
  </li>
  <li>
    <a href="#laminated" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/laminated.svg"
          alt="Stone foil"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature3"></span>
    </a>
  </li>
  <li>
    <a href="#nano-impregnation" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/Waterproof.svg"
          alt="Nano impregnation"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature4"></span>
    </a>
  </li>
  <li>
    <a href="#touch-control" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/touch.svg"
          alt="Touch control"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature5"></span>
    </a>
  </li>
  <li>
    <a href="#dimmable" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/Backlight.svg"
          alt="Backlighting"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature6"></span>
    </a>
  </li>
  <li>
    <a href="#quick-mounting" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/Mounting.svg"
          alt="Easy installation"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature7"></span>
    </a>
  </li>
  <li>
    <a href="#easy-repair" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/Repair.svg"
          alt="Replaceable LED"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature8"></span>
    </a>
  </li>
  <li>
    <span class="link link--light">
      <div class="price-list__icon">
        <img
          src="./images/symbols/Manufacturing.svg"
          alt="Adjustable temperature"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature9"></span>
    </span>
  </li>
  <li>
    <a href="#temperature" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/temperature.png"
          alt="Manufacturing"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature10"></span>
    </a>
  </li>
  <li>
    <a href="#rf-control" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/RF_control.svg"
          alt="RF control"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature11"></span>
    </a>
  </li>
  <li>
    <a href="#smartphone-control" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <img
          src="./images/symbols/MobileControl.svg"
          alt="Mobile control"
          height="40px"
          width="40px"
          loading="lazy"
        />
      </div>
      <span data-localize="price_feature12"></span>
    </a>
  </li>
  <li>
    <a href="#color-palette" class="link link--light" rel="internal">
      <div class="price-list__icon">
        <span>RAL</span>
      </div>
      <span data-localize="price_feature13"></span>
    </a>
  </li>
</ul>
