@import "../Base/global";

li:has(> .burger) {
  --burger-display: none;
  display: var(--burger-display);

  @include res-max-tablet {
    --burger-display: grid;
  }
}

.burger {
  position: relative;

  place-items: center;
  inline-size: $gap-xl;
  aspect-ratio: 1;
  padding: 0;
  background: none;
  border-color: var(--color-trans);
  color: var(--color-white);
  cursor: pointer;
}
