@import "../Base/global";

.product-list {
  @include grid-columns(grid, repeat(4, minmax($gap-l, 1fr)), clamp($gap-xl, 5dvi, 5rem), stretch);
  margin-block-start: 10vh;

  @include res-max-laptop-s {
    grid-template-columns: repeat(2, minmax(1rem, 1fr));
  }

  @include res-max-mobile-l {
    grid-template-columns: minmax(1rem, 1fr);
  }
}

.card {
  @include grid-columns(grid, minmax($gap-l, 1fr), $gap-l, flex-start, center, center);
  cursor: pointer;
  border-radius: $gap-m;
  scale: var(--card_scale, 1);
  transition: scale $trans-time ease-in-out;

  @include hover {
    --card_scale: 1.05;
    --card_color: #{$color-primary};
    --card-text_trans-y: calc(#{$gap-s} * -1);
    --card-btn_trans-y: #{$gap-m};
    --card-btn_opacity: 1;
  }

  > div > .button {
    opacity: var(--card-btn_opacity, 0);
    transition:
      opacity $trans-time ease-in-out,
      translate $trans-time ease-in-out;
    translate: 0 var(--card-btn_trans-y, calc($gap-s * -1));
  }

  .icon-ar {
    inset: auto clamp(1.6rem, 4dvi, 1.6rem) 6.5rem auto;
  }

  img {
    @include res-max-laptop-l {
      min-inline-size: 100%;
    }
  }

  > strong {
    color: var(--card_color, $color-white);
    font-size: clamp($gap-l, 2.5vh, $gap-xl);
    font-family: $font-title;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    translate: 0 var(--card-text_trans-y, 0);
    transition:
      translate $trans-time ease-in-out,
      color $trans-time ease-in-out;
  }
}
