@import "../Base/global";

.container {
	inline-size: var(--container-width, $width-laptop-m);
	margin-inline: auto;

	@include res-max-laptop-l {
		--container-width: 75%;
	}

	@include res-max-laptop-m {
		--container-width: 85%;
	}

	@include res-max-laptop-s {
		--container-width: 90%;
	}

	@include res-max-tablet {
		--container-width: calc(100% - calc(#{$gap-xl} * 2));
	}

	&--s {
		--container-width: min(#{$width-tablet}, calc(100% - calc(#{$gap-xl} * 2)));
	}
}
