@import "../Base/global";

.dialog {
    @include border("def", $gap-s, $color-dialog-border);
    inline-size: min($width-tablet, 100%);
    max-block-size: calc(100vh - $gap-xxl);
    padding: 0;
    background-color: $color-black;
    border-radius: $gap-xl;

    &::backdrop {
        background-color: $color-dialog-backdrop;
        backdrop-filter: blur($gap-m);
    }

    &__close {
        position: sticky;
        inset: 0 auto auto 100%;
        padding: 0;
        background-color: unset;
        border-color: $color-trans;
        color: var(--close_color, $color-white);
        translate: calc($gap-l * -1) $gap-l;
        scale: var(--close_scale, 1);
        transition:
            scale $trans-time ease-in-out,
            color $trans-time ease-in-out;
        z-index: 1;
        cursor: pointer;

        @include hover {
            --close_scale: 1.1;
            --close_color: #{$color-primary};
        }

        &:focus-visible {
            outline: none;
        }
    }
}
