@import "../Base/global";

.icon {
    --icon-size: #{$gap-xl};
    display: block;
    inline-size: var(--icon-size);
    min-inline-size: var(--icon-size);
    block-size: var(--icon-size);
    aspect-ratio: 1;
    fill: currentColor;

    &:is(.icon-ar):not(.icon-nav, .icon-header) {
        --icon-size: clamp(#{$gap-xl}, 10dvi, 4.5rem);
        position: absolute;
        padding: $gap-m;
        background-color: $color-white;
        border-radius: 50%;
        scale: var(--ar-scale, 1);
        transition: scale $trans-time ease-in-out;
        pointer-events: none;
    }
}
