@import "../Base/global";

.lang-switch {
    --lang-pop-up_display: none;
    position: relative;
    font-size: $gap-l;
    text-align: center;

    @media (hover: hover) {
        &:hover {
            --lang-pop-up_display: inline-flex;
        }
    }

    &__button {
        @include flex-set(inline-flex, row, nowrap, $gap-m, center, center, center);
        font-size: 1em;
        color: var(--lang-switch_color, #{$color-white});
        background-color: transparent;
        border: none;
        cursor: pointer;

        > span,
        > .icon {
            pointer-events: none;
        }

        small {
            font-size: 0.5em;
        }
    }

    .icon {
        --icon-size: #{$gap-m};
        --icon-color: currentColor;
    }

    &__pop-up {
        @include flex-set(var(--lang-pop-up_display, none), column, nowrap, 0, stretch, stretch, stretch);
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% 0;
        inline-size: 100%;
        border-radius: 0.5em;
        text-align: left;
        background-color: var(--lang-pop-up_bg-color, #{$color-secondary});
        overflow: hidden;
        @include res-max-tablet {
            inline-size: auto;
        }
        &.open {
            --lang-pop-up_display: inline-flex;
        }
    }

    &__item {
        padding-inline: $gap-m;
        padding-block: $gap-m;
        background-color: var(--lang-switch-item_bg-color, transparent);
        font-size: $gap-l;
        color: var(--lang-switch-item_color, $color-white);
        border-width: 0;
        cursor: pointer;
        text-align: left;
        @include res-max-tablet {
            --lang-switch-item_bg-color: #{$color-secondary};
            text-align: center;
        }

        @media (hover: hover) {
            &:hover {
                --lang-switch-item_color: #{$color-primary};
            }
        }

        &.active {
            --lang-switch-item_color: #{$color-primary};
        }
    }
}
