@import "../Base/global";

.lang-switch {
    --lang-pop-up_display: none;
    position: relative;

    @media (hover: hover) {
        --lang-pop-up_display: inline-flex;
    }

    &__button {
        @include flex-set(inline-flex, row, nowrap, $gap-m, center, center, center);
        font-size: 1em;
        color: var(--lang-switch_color, #{$color-bg-nav});

        > span,
        > .icon {
            pointer-events: none;
        }

        &.open + .lang-switch__pop-up {
            @include res-max-tablet {
                --lang-pop-up_display: inline-flex;
            }
        }
    }

    .icon {
        --icon-size: #{$gap-m};
        --icon-color: currentColor;
    }

    &__pop-up {
        @include flex-set(var(--lang-pop-up_display), column, nowrap, 0, stretch, stretch, stretch);
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% 0;
        border-radius: 0.5em;
        background-color: var(--lang-pop-up_bg-color, #{$color-secondary});
        overflow: hidden;

        &.open {
            --lang-pop-up_display: inline-flex;
        }

        @include res-max-tablet {
            --lang-pop-up_bg-color: #{$color-bg-nav};
            top: 0;
            translate: -50% calc(-100% - $gap-s);
        }
    }

    &__item {
        padding-inline: $gap-m;
        padding-block: $gap-s;
        background-color: var(--lang-switch-item_bg-color, transparent);
        font-size: 1em;
        color: var(--lang-switch-item_color, $color-white);

        @include res-max-tablet {
            --lang-switch-item_bg-color: #{$color-secondary};
        }

        @media (hover: hover) {
            --lang-switch-item_bg-color: #{$color-secondary};

            @include res-max-tablet {
                --lang-switch-item_bg-color: transparent;
            }
        }

        &.active {
            --lang-switch-item_color: #{$color-primary};
        }
    }
}
