@import "../Base/global";

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

@property --radius {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
}

body {
    min-block-size: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(0 0% 10%);
}

.palette {
    display: grid;
    place-items: center;
    position: relative;
    inline-size: 110px;
    block-size: 110px;
    background-color: unset;
    border-radius: 100vmax;
    border-color: transparent;
    cursor: pointer;
    font-family: $font-title;

    @include hover {
        --text-scale: 1.1;
    }

    &:after {
        opacity: var(--text-opacity, 1);
        content: attr(data-text);
        color: $color-black;
        font-size: 12px;
        z-index: 1;
        max-inline-size: calc(100% - $gap-l);
        scale: var(--text-scale, 1);
        font-weight: 900;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        transition:
            opacity $trans-time linear,
            scale $trans-time linear;
    }

    &--active {
        --radius: 25%;
        --text-opacity: 0;

        > div {
            @include hover {
                --radius: 65%;
                --text-opacity: 1;
            }
        }
    }

    &__color {
        display: inherit;
        place-items: inherit;
        position: absolute;
        inline-size: 100%;
        block-size: 100%;
        border-radius: 100vmax;
        background-color: var(--bg-color);
        translate: calc(cos(var(--angle)) * var(--radius)) calc(sin(var(--angle) * -1) * var(--radius));
        transition: translate 0.25s linear;

        &:after {
            opacity: var(--text-opacity, 0);
            content: attr(data-text);
            color: $color-black;
            font-size: $gap-l;
            z-index: 1;
            letter-spacing: 0.05em;
            font-weight: 700;
            transition: opacity $trans-time linear;
        }

        &:nth-of-type(1) {
            --bg-color: hsl(23.64deg 16.42% 60.59%);
            --angle: 0deg;
        }

        &:nth-of-type(2) {
            --bg-color: hsl(38.4deg 24.04% 59.22%);
            --angle: 90deg;
        }

        &:nth-of-type(3) {
            --bg-color: #{$color-primary};
            --angle: 180deg;
        }

        &:nth-of-type(4) {
            --bg-color: hsl(37.37deg 47.11% 47.45%);
            --angle: 270deg;
        }
    }
}
