@import "../Base/global";
.piktogram {
    @include grid-columns(
        var(--piktogtam-display, grid),
        var(--template-columns, minmax($gap-xxl, 5fr) minmax($gap-xxl, 8fr)),
        var(--gap, #{$gap-xxl}),
        center
    );
    scroll-margin-top: var(--nav-height);

    @include res-max-laptop-s {
        grid-template-columns: repeat(2, minmax(1rem, 1fr));
    }

    @include res-max-tablet {
        grid-template-columns: minmax(1rem, 1fr);
    }

    &:not(:last-of-type) {
        margin-block-end: 5vh;
    }

    @include res-max-mobile-l {
        --template-columns: minmax(#{$gap-xxl}, 1fr);
    }

    &--invert {
        --template-columns: minmax(#{$gap-xxl}, 8fr) minmax(#{$gap-xxl}, 5fr);

        @include res-max-laptop-s {
            grid-template-columns: repeat(2, minmax(1rem, 1fr));
        }

        @include res-max-tablet {
            grid-template-columns: minmax(1rem, 1fr);
        }

        > .piktogram__box {
            @include res-max-tablet {
                grid-row-start: 1;
            }
        }
    }

    &--hidden:not(.visible) {
        --piktogtam-display: none;
    }

    &__box {
        display: grid;
        place-items: center;
        inline-size: 110px;
        aspect-ratio: 1 / 2;
        margin-inline: auto;
        overflow: visible;

        &:has(> .palette) {
            overflow: initial;
        }
    }

    &__circle {
        display: grid;
        place-items: center;
        align-content: center;
        inline-size: inherit;
        gap: $gap-l;
        aspect-ratio: 1;
        background-color: $color-white;
        border-radius: 50%;
        color: $color-black;
        text-align: center;
        -webkit-box-reflect: below 2px
            linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.4) 100%);

        > img {
            display: block;
            inline-size: auto;
            max-inline-size: 55px;
            block-size: 40px;

            &:is([alt="LED"]) {
                block-size: 65px;
            }
        }
        > small {
            display: inline-block;
            font-size: 10.5px;
            font-weight: 800;
            text-transform: uppercase;
            white-space: pre-wrap;
        }
    }

    &__desc > p {
        margin: 0;
        color: $color-font;

        @include res-max-tablet {
            text-align: center;
        }

        > span,
        > strong {
            &:empty {
                display: none;
            }
        }

        > strong {
            color: $color-primary;
        }

        i {
            display: block;
            margin-block-start: $gap-l;
            font-size: 0.7em;
            color: grey;
        }
    }
}
