@import "../Base/global";
.product-detail {
    @include grid-columns(grid, minmax(1rem, 1fr), 0, flex-start, stretch);
    max-inline-size: 100%;
    align-items: center;
    background-color: inherit;
    padding-inline: clamp($gap-xl, 8dvi, 5rem);
    padding-block: clamp($gap-xl, 8dvi, 5rem);
    color: $color-white;

    > img {
        @include grid-columns(grid, minmax(1rem, 1fr), clamp($gap-l, 5dvi, $gap-xxl), flex-start);
        display: block;
        max-inline-size: 100%;
        transition:
            box-shadow 0.25s ease-in-out,
            opacity 0.25s ease-in-out;
        box-shadow: 0 0 2rem 0.5rem var(--img_shadow-color, transparent);
    }

    > strong {
        text-align: center;
        font-size: 6svb;
        font-weight: 900;
        line-height: 1.25;
        font-family: $font-title;
        text-wrap: pretty;
        line-height: 1;
        text-transform: uppercase;
    }

    &__model {
        aspect-ratio: 16 / 9;
        position: relative;
        display: var(--model-display, block);
        margin-block-start: clamp($gap-xl, 3svb, $gap-xl);

        @include res-max-laptop-s {
            --model-display: block;
        }

        model-viewer {
            position: absolute;
            inset: 0;
            inline-size: 100%;
            block-size: 100%;
        }
    }

    &__content {
        @include grid-columns(grid, minmax(1rem, 1fr), clamp($gap-l, 5dvi, $gap-xl), flex-start, flex-start);

        > .desc {
            font-size: max(1.6rem, min(3dvb, 2.4rem));
            line-height: 1.7;
            text-wrap: pretty;

            > strong {
                color: $color-primary;
            }
        }
    }
}
