@import "../Base/global";

@include res-min-tablet {
  ::-webkit-scrollbar {
    width: $gap-m;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $color-black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: $gap-s;
    cursor: move;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-primary--hover;
  }
}