@import "../Base/global";

.segment-filter-wrap {
  display: flex;
  justify-content: center;
  inline-size: min(calc(100% - #{$gap-l}), #{$width-laptop-xl});
  margin-block: $gap-xl $gap-l;
  margin-inline: auto;
}

.segment-filter {
  --segment-filter_bg: hsl(0 0% 100% / 0.06);
  --segment-filter_border: hsl(0 0% 100% / 0.12);
  --segment-filter_text: #{$color-white};
  --segment-filter_text-hover: #{$color-primary};
  --segment-filter_active-bg: #{$color-primary};
  --segment-filter_active-text: #{$color-white};
  @include flex-set(inline-flex, row, nowrap, 0, center, center, center);
  padding: $gap-s;
  margin-inline: auto;
  background-color: var(--segment-filter_bg);
  border: 1px solid var(--segment-filter_border);
  border-radius: $radius-full;

  @include res-max-mobile-l {
    justify-content: stretch;
    inline-size: 100%;
  }

  &__btn {
    @include flex-set(inline-flex, column, nowrap, 2px, center, center, center);
    padding-block: $gap-s;
    padding-inline: $gap-l;
    background-color: var(--btn-bg, transparent);
    border: 0;
    border-radius: $radius-full;
    font-family: $font-text;
    font-size: medium;
    font-weight: 500;
    color: var(--btn-color, var(--segment-filter_text));
    text-align: center;
    white-space: nowrap;
    transition:
      background-color $trans-time ease-in-out,
      color $trans-time ease-in-out;
    cursor: pointer;

    @include res-max-mobile-l {
      flex: 1;
      padding-inline: $gap-s;
    }

    > small {
      opacity: 0.75;
      font-size: 0.75em;

      @include res-max-mobile-l {
        font-size: 0.625rem;
      }
    }

    > .icon {
      --icon-size: 1em;
      fill: currentColor;
    }

    &[aria-pressed="true"] {
      --btn-bg: var(--segment-filter_active-bg);
      --btn-color: var(--segment-filter_active-text);
    }

    @include hover {
      &:not([aria-pressed="true"]) {
        --btn-color: var(--segment-filter_text-hover);
      }
    }
  }
}

section.light .segment-filter {
  --segment-filter_bg: #{$color-white};
  --segment-filter_border: hsl(0 0% 0% / 0.08);
  --segment-filter_text: #{$color-black};
}
