@import "../Base/global";

.tags {
    --tag-display: none;

    &--all {
        --tag-display: inline-block;
    }

    > ul {
        @include flex-set(flex, row, wrap, $gap-m, center, flex-start);
        padding: 0;
        font-family: $font-title;
        list-style: none;

        @include res-max-mobile-l {
            --mg-b: #{$gap-xxl};
        }
    }
    li {
        display: var(--tag-display, none);

        &:not(:last-child) {
            padding: #{$gap-s} #{$gap-m};
            background-color: $color-primary;
            font-size: small;
            color: $color-black;
            border-radius: $gap-s;
            text-transform: initial;
        }

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                --tag-display: inline-block;
            }
        }

        &:last-child {
            --tag-display: inline-block;
        }
    }
}
