.ba-slider {
  --ba-position: 50%;
  position: relative;
  display: grid;
  max-height: 80vh;
  overflow: hidden;
  place-content: center;
  border-radius: $gap-l;

  @include res-max-mobile-l {
    max-height: 215px;
  }

  img {
    display: block;
    inline-size: var(--ba-inline-size);
    min-inline-size: var(--ba-inline-size);
  }
}

.image-container + span {
  position: absolute;
  inset: auto auto $gap-xxl 50%;
  font-family: $font-title;
  font-size: clamp($gap-l, 3vh, 2em);
  font-weight: 300;
  color: var(--color-white);
  translate: -50%;
  z-index: 3;
  pointer-events: none;

  @include res-max-mobile-l {
    bottom: $gap-l;
    font-size: clamp($gap-s, 3vh, $gap-l);
  }
}

.slider-image {
  max-inline-size: 100%;
  block-size: 100%;
  min-block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before,
.image-after {
  overflow: hidden;
  > strong {
    position: absolute;
    inset: auto auto 1em calc(var(--ba-inline-size) / 2);
    opacity: 0.7;
    font-family: $font-title;
    font-size: clamp($gap-xxl, 7vh, 8em);
    font-weight: 900;
    letter-spacing: 0.1em;
    color: var(--color-white);
    text-transform: uppercase;
    white-space: nowrap;
    translate: -50%;

    @include res-max-tablet {
      font-size: clamp($gap-xxl, 5vh, 5rem);
      bottom: 1.25em;
    }

    @include res-max-mobile-l {
      font-size: clamp($gap-xl, 3vh, $gap-xxl);
      bottom: 1.5em;
    }
  }
}

.image-before {
  position: absolute;
  inset: 0;
  inline-size: var(--ba-position);
  z-index: 2;
}

.image-after {
  z-index: 1;
}

.slider {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  left: var(--ba-position);
  inline-size: 0.2rem;
  block-size: 100%;
  background-color: #fff;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
}

.slider-button {
  --icon-size: #{$gap-l};
  position: absolute;
  top: 50%;
  left: var(--ba-position);
  display: grid;
  place-items: center;
  block-size: 4rem;
  aspect-ratio: 1;
  background-color: var(--color-white);
  border-radius: 100vmax;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 1px 1px 1px hsla(0, 50%, 2%, 0.5);
  pointer-events: none;
}
