@import "../Base/global";

footer {
  padding: $gap-l;
  background-color: $color-black;

  > small {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: $gap-s;
    font-family: $font-text;
    font-size: small;
    color: $color-white;
    text-align: center;
  }

  a {
    color: $color-white;
  }
}
