@import "../Base/global";

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--color-bg-nav);
    color: var(--nav-color, #{$color-font});
    z-index: 999;

    @include res-max-tablet {
        --nav-justify-content: space-between;
        --color-bg-nav: #{$color-bg-nav-mobile};
    }
}

.nav__container {
    @include flex-set(flex, row, nowrap, 0, center, var(--nav-justify-content, space-between), center);
    inline-size: calc(100% - clamp($gap-xxl, 10dvi, 10rem));
    margin-inline: auto;
}

.logo {
    display: block;
    block-size: var(--logo_size, 6rem);
    padding: 0;

    @include res-max-tablet {
        --logo_size: 4rem;
    }

    > img {
        display: block;
        block-size: 100%;
    }
}

.menu {
    @include flex-set(
        var(--menu-display, inline-flex),
        var(--menu-flex-direction, row),
        nowrap,
        var(--menu-gap, 5em),
        center,
        center,
        var(--menu-align-content, center)
    );
    inline-size: auto;
    block-size: var(--menu-height, auto);
    padding: var(--menu-pad-top, 0) 0 0 0;
    background-color: var(--menu-bg, var(--color-trans));
    list-style: none;

    @include res-max-laptop-m {
        --menu-gap: #{$gap-xl};
        --menu-temp-col: repeat(auto-fit, minmax(110px, auto));
    }

    @include res-max-tablet {
        --menu-display: none;
        --menu-height: calc(100vh - var(--nav-height));
        --menu-gap: #{$gap-xxl};
        --menu-align-content: flex-start;
        --menu-bg: var(--color-bg-nav);
        --menu-pad-top: 15vh;
        position: absolute;
        backdrop-filter: blur($gap-m);
        justify-content: center;
        inset: 100% 0 auto 0;
    }

    &--open {
        @include res-max-tablet {
            --menu-display: grid;
            --menu-temp-col: minmax(130px, 1fr);
        }
    }
    li {
        text-align: center;

        @include res-max-tablet {
            animation: showItem 0.25s ease-in-out forwards;
            opacity: 0;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    animation-delay: #{$i * 0.1}s;
                }
            }
        }
    }
    li a {
        --nav-item-min-font-size: #{$gap-l};
        @include transition(color);
        @include flex-set(inline-flex, row, nowrap, $gap-m, center);
        font-family: $font-text;
        font-size: clamp(var(--nav-item-min-font-size), 2vh, $gap-xl);
        color: var(--nav-color);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;

        @include res-max-laptop-s {
            font-size: medium;
        }

        @include res-max-tablet {
            --nav-item-min-font-size: 18px;
            text-align: center;
            font-size: x-large;
        }

        &:hover {
            text-decoration: underline;
            color: $color-primary;
        }
    }
}

@keyframes showMenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes showItem {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
