@import "../Base/global";

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--color-bg-nav);
  backdrop-filter: blur($gap-s);
  color: var(--nav-color, #{$color-font});
  z-index: 999;

  @include res-max-tablet {
    --nav-justify-content: space-between;
    --color-bg-nav: #{$color-bg-nav-mobile};
  }
}

.nav {
  &__container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
    inline-size: calc(100% - clamp($gap-xl, 8svi, 5rem));
    margin-inline: auto;

    @include res-max-tablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__right {
    @include flex-set(flex, row, nowrap, 2em, center, end, center);
    justify-self: end;
    padding: 0;
    margin: 0;
    list-style: none;

    a:is(.button) {
      text-transform: initial !important;
    }
  }

  ul {
    list-style: none;
  }
}

.logo {
  display: block;
  justify-self: start;
  block-size: var(--logo_size, 6rem);
  padding: 0;

  @include res-max-tablet {
    --logo_size: 4rem;
  }

  > img {
    display: block;
    block-size: 100%;
  }
}

.menu {
  @include flex-set(
    var(--menu-display, inline-flex),
    var(--menu-flex-direction, row),
    nowrap,
    var(--menu-gap, $gap-xl),
    center,
    center,
    var(--menu-align-content, center)
  );
  justify-self: center;
  inline-size: auto;
  block-size: var(--menu-height, auto);
  padding: var(--menu-pad-top, 0) 0 0 0;
  background-color: var(--menu-bg, var(--color-trans));
  list-style: none;

  @include res-max-laptop-m {
    --menu-gap: #{$gap-xl};
    --menu-temp-col: repeat(auto-fit, minmax(110px, auto));
  }

  @include res-max-tablet {
    --menu-display: none;
    --menu-height: calc(100svb - var(--nav-height));
    --menu-gap: #{$gap-xxl};
    --menu-align-content: flex-start;
    --menu-bg: var(--color-bg-nav);
    --menu-pad-top: 8svb;
    position: absolute;
    inset: 100% 0 auto 0;
    justify-content: center;
    min-inline-size: 100svi;
    backdrop-filter: blur($gap-m);
  }

  &[data-open="true"] {
    @include res-max-tablet {
      --menu-display: grid;
      --menu-temp-col: minmax(130px, 1fr);
    }

    li {
      @include res-max-tablet {
        opacity: 0;
        animation: showItem 0.15s ease-in-out forwards;

        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.05}s;
          }
        }
      }
    }
  }

  li {
    text-align: center;

    :is(a:not(.button), .lang-switch__button) {
      --nav-item-min-font-size: #{$gap-l};
      @include transition(color);
      @include flex-set(inline-flex, row, nowrap, $gap-m, center);
      margin-inline: auto;
      font-family: $font-text;
      font-size: clamp(var(--nav-item-min-font-size), 2svb, 20px);
      font-weight: 500;
      color: var(--nav-color);
      text-decoration: none;
      white-space: nowrap;

      @include res-max-laptop-s {
        font-size: medium;
      }

      @include res-max-tablet {
        --nav-item-min-font-size: 18px;
        font-size: x-large;
        text-align: center;
      }

      > span {
        font-weight: inherit;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes showItem {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
