@import "../Base/global";

.price-list {
  --row-count: 11;
  --row-size: 72px;
  position: relative;
  min-block-size: 100svb;
  font-family: $font-text;
  color: $color-white;

  @include res-max-tablet {
    --icon_size: #{$gap-xxl};
    --icon-img_size: #{$gap-xl};
    --row-size: 60px;
  }

  @include res-max-mobile-l {
    --row-size: 50px;
  }

  .container--l {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__scroll-wrapper {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    margin-block-end: $gap-xxl;
  }

  &__container {
    @include grid-columns(
      grid,
      var(--price-container_col-template, $width-mobile-s minmax($width-tablet, 1fr) $width-mobile-s),
      0,
      stretch
    );
    grid-template-rows: auto repeat(var(--row-count), 1fr);
    min-inline-size: $width-laptop-l;
    margin-block-start: 5svb;

    @include res-max-tablet {
      --price-container_col-template: #{$width-mobile-s} max-content #{$width-mobile-s};
    }

    @include res-max-mobile-l {
      --price-container_col-template: 190px max-content 190px;
    }
  }

  &__features {
    @include grid-row-span(var(--row-count));
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    justify-content: stretch;
    padding: 0;
    margin: 0;
    background-color: $color-secondary;
    font-size: larger;
    list-style: none;
    overflow: hidden;
    z-index: 1;
    grid-row-start: 2;

    > li {
      padding-inline-start: clamp($gap-m, 2.5svi, $gap-l);

      &:nth-child(even) {
        background-color: $color-black--light;
      }
      > a{
        display: flex;
        align-items: center;
        block-size: var(--row-size);
        gap: $gap-l;
        font-size: clamp(14px, 2.5svi, 20px);
  
        @include res-max-tablet {
          gap: $gap-m;
        }
      }
    }
  }

  &__icon {
    --icon_size: 50px;
    --icon-img_size: #{$gap-xxl};
    display: grid;
    place-items: center;
    inline-size: var(--icon_size);
    block-size: var(--icon_size);
    aspect-ratio: 1;
    background-color: $color-white;
    border-radius: 50%;

    @include res-max-tablet {
      --icon_size: #{$gap-xxl};
      --icon-img_size: #{$gap-xl};
    }

    @include res-max-mobile-l {
      display: none;
    }

    > img {
      display: block;
      max-inline-size: var(--icon-img_size);
      max-block-size: var(--icon-img_size);
    }

    > span {
      font-size: $gap-l;
      font-weight: 900;
      color: $color-black;

      @include res-max-tablet {
        font-size: $gap-m;
      }
    }
  }

  &__items {
    @include grid-columns(grid, repeat(3, minmax($gap-xl, 1fr)), 0, stretch);
    @include grid-row-span(calc(var(--row-count) + 1));
    grid-template-rows: subgrid;
  }

  &__preview {
    --price-list-preview_pad-left: clamp(#{$gap-m}, 3svi, #{$gap-xl});
    @include grid-row-span(var(--row-count));
    position: relative;
    display: grid;
    align-items: var(--price-list-preview_ai, end);
    padding-inline-start: var(--price-list-preview_pad-left);
    grid-column-start: 3;
    grid-row-start: 2;

    @include res-max-mobile-l {
      --price-list-preview_ai: center;
      position: sticky;
      left: 190px;
    }

    > img {
      max-inline-size: 100%;
      max-block-size: 100%;
    }

    > svg {
      position: absolute;
      inline-size: 33%;
      aspect-ratio: 88.8 / 355.25;
      translate: var(--price-list-preview_pad-left) var(--price-list-preview_trans-y, 0);

      @include res-max-mobile-l {
        --price-list-preview_trans-y: 20%;
      }
    }
  }
}

.price-item {
  display: grid;
  @include grid-row-span(calc(var(--row-count) + 1));
  grid-template-rows: subgrid;

  @include hover {
    --price-item_border-color: #{$color-primary};
    --price-item-header_scale: 1.05;
    --price-item-header_bg: #{$color-black--light};
  }

  &__header {
    position: relative;
    display: grid;
    align-content: space-between;
    row-gap: $gap-m;
    padding: var(--price-item-headr_padding, $gap-l);
    margin-inline: var(--price-item-header_mg, $gap-l);
    background-color: var(--price-item-header_bg, $color-trans);
    border: 2px solid var(--price-item_border-color, $color-border);
    border-radius: $gap-l;
    text-align: center;
    scale: var(--price-item-header_scale, 1);
    transition:
      border-color $trans-time ease-in-out,
      background-color $trans-time ease-in-out,
      scale $trans-time ease-in-out;
    isolation: isolate;
    z-index: 10;

    @include res-max-tablet {
      --price-item-headr_padding: #{$gap-m};
      --price-item-header_mg: #{$gap-m};
    }

    > strong {
      font-size: clamp(14px, 2.5svi, 20px);
      color: $color-primary;
    }

    span {
      font-size: clamp($gap-l, 2.5svi, $gap-xl);
      font-weight: 900;
      white-space: nowrap;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: subgrid;
    justify-content: stretch;
    padding: 0;
    margin: 0;
    list-style: none;

    @include grid-row-span(var(--row-count));

    li {
      @include flex-set(flex, row, nowrap, $gap-l, center, center, center);
      block-size: var(--row-size);
      font-size: $gap-l;

      &:nth-child(even) {
        background-color: $color-black--light;
      }

      > .icon {
        @include res-max-mobile-l {
          --icon-size: #{$gap-l};
        }

        &.icon-check {
          fill: $color-primary;
        }

        &.icon-close-bold {
          fill: $color-border;
        }
      }
    }
  }
}
