@import "../Base/global";

section:has(> .showcase) {
  --sec-pad-y: 0;
}
.showcase {
  display: grid;
  grid-template-columns: minmax(1rem, 8fr) minmax(1rem, 5fr);
  align-items: center;
  inline-size: max(calc(100cqi - calc($gap-xl * 2)), 100px);
  max-inline-size: $width-laptop-xl;
  margin-inline: auto;
  background-color: inherit;
  grid-auto-flow: column;
  color: $color-white;

  @include res-max-laptop-s {
    grid-template-columns: minmax(1rem, 1fr);
    grid-auto-flow: column;
  }

  &__img {
    position: relative;
    display: grid;
    place-items: center;
    inline-size: 100%;
    aspect-ratio: 1024 / 813;

    @include res-max-laptop-s {
      grid-column-start: 1;
      grid-column-start: 1;
    }

    > img {
      position: absolute;
      display: block;
      inline-size: 100%;
      opacity: var(--img_opacity, 0);
      transition:
        box-shadow 0.25s ease-in-out,
        opacity 0.25s ease-in-out;
      box-shadow: 0 0 2rem 0.5rem var(--img_shadow-color, transparent);

      &:is(.active) {
        --img_opacity: 1;
      }
    }
  }

  &__content {
    padding-inline-end: 3.5svi;
    @include res-max-laptop-s {
      display: grid;
      grid-template-columns: minmax(1rem, 1fr);
      padding-inline-end: 0;
      grid-column-start: 1;
    }
    > .not-tablet-content {
      margin-block-end: 7vh;
    }
  }

  div:is([class*="tablet-content"]) {
    grid-column-start: 1;
    padding-block-start: 7vh;
    :is(h2) {
      margin-block-end: 1.5vh;
      font-size: clamp($gap-xxl, 5vh, 6rem);
      font-weight: 900;
      line-height: 1.25;
      grid-column-start: 2;
      font-family: $font-title;
      text-wrap: pretty;

      @include res-max-laptop-m {
        font-size: clamp($gap-xl, 4vh, 4rem);
      }

      @include res-max-laptop-s {
        text-align: center;
        grid-column-start: 1;
      }

      @include res-max-mobile-l {
        font-size: clamp($gap-l, 6.5vw, $gap-xxl);
      }

      > span {
        display: block;
        font-size: 1.35em;
        font-weight: inherit;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @include res-max-mobile-l {
          font-size: 1.5em;
        }
      }
    }
    :is(.desc, p) {
      font-size: max(1.6rem, min(3vh, 2.4rem));
      line-height: 1.7;
      text-wrap: pretty;
      @include res-max-laptop-s {
        grid-column-start: 1;
        text-align: center;
      }
      > strong {
        color: $color-primary;
      }
      @include res-max-mobile-l {
        font-size: #{$gap-l};
      }
    }
  }

  &__buttons {
    @include grid-columns(grid, repeat(3, minmax($gap-xl, 1fr)), $gap-l, stretch, stretch);
    container-type: inline-size;

    @include res-max-laptop-s {
      grid-row-start: 1;
      margin-block-end: 7vh;
      margin-block-start: -0.25vh;
    }
    > .button {
      --icon-size: #{$gap-xxl};
      flex-flow: column wrap;

      @container (inline-size <= 600px) {
        --btn-padding-x: #{$gap-s};
        --btn-padding-y: #{$gap-m};
        --btn-font-size: small;
        --btn-width: unset;
      }

      &--s {
        --icon-size: #{$gap-l};
      }
    }
  }
}
