// Base
@import "Base/root";
@import "Base/default";
@import "Base/layout";
@import "Base/shared-classes";
@import "Base/typography";

// Components
@import "Components/button";
@import "Components/burger";
@import "Components/card";
@import "Components/container";
@import "Components/dialog";
@import "Components/icon";
@import "Components/link";
@import "Components/logo";
@import "Components/palette";
@import "Components/piktogtam";
@import "Components/product-detail";
@import "Components/scrollbar";
@import "Components/social";
@import "Components/tags";

// Modules
@import "Modules/ba-slider";
@import "Modules/contact";
@import "Modules/footer";
@import "Modules/gallery";
@import "Modules/header";
@import "Modules/nav";
@import "Modules/section";
@import "Modules/showcase";
