//External
@import "../../node_modules/@fancyapps/ui/src/Fancybox/Fancybox.scss";
// Base
@import "base/root";
@import "base/default";
@import "base/layout";
@import "Base/shared-classes";
@import "base/typography";

// Components
@import "components/button";
@import "components/burger";
@import "components/container";
@import "components/icon";
@import "components/link";
@import "components/logo";
@import "components/scrollbar";

// Modules
@import "Modules/ba-slider";
@import "Modules/carousel";
@import "Modules/contact";
@import "modules/footer";
@import "Modules/gallery";
@import "Modules/header";
@import "modules/nav";
@import "modules/section";
