---
import Palette from "../palette/Palette.astro";

const { id } = Astro.props;
---

<section id={id} class="dark">
  <div class="container container--s">
    <h2 class="title title--white text-center" data-localize="features_title"></h2>
    <div class="piktogram">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Ligthweight.svg" alt="lightweight" height="75px" loading="lazy" />
          <small>Ligth<br />weight</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Ligthweight.svg" alt="lightweight" height="75px" loading="lazy" />
          <small>Ligth<br />weight</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span>Hmotnost pouhých 40 kg.</span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert">
      <div class="piktogram__desc">
        <p class="desc">
          <span>Rámy kamenných desek jsou připraveny pro</span>
          <strong>svislou i vodorovnou</strong>
          <span>montáž, s využitím například jako svítící čelo postele.</span>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Mounting.svg" alt="Mounting" height="75px" loading="lazy" />
          <small>Vert/Horiz<br />mounting</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Mounting.svg" alt="Mounting" height="75px" loading="lazy" />
          <small>Vert/Horiz<br />mounting</small>
        </div>
      </div>
    </div>
    <div class="piktogram">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Blacklight.svg" alt="Blacklight" height="75px" loading="lazy" />
          <small>Blacklight<br />control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Blacklight.svg" alt="Blacklight" height="75px" loading="lazy" />
          <small>Blacklight<br />control</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span>Pro zpříjemnění atmosféry, umožňuje rám svítící kamenné desky využití efektního, stmívatelného</span>
          <strong>zadního podsvětlení</strong>.
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p class="desc">
          <span>Ovládání zapínání a vypínání, stejně jako intenzitu prosvětlení kamene a zadního podsvětlení, můžete ovládat přiloženým</span>
          <strong>RF dálkovým ovladačem</strong>.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/RF_control.svg" alt="RF_control" height="75px" loading="lazy" />
          <small>RF Wirless<br />Control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/RF_control.svg" alt="RF_control" height="75px" loading="lazy" />
          <small>RF Wirless<br />Control</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/MobileControl.svg" alt="MobileControl" height="75px" loading="lazy" />
          <small>Smartphone<br />control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/MobileControl.svg" alt="MobileControl" height="75px" loading="lazy" />
          <small>Smartphone<br />control</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span>Veškeré funkce dálkového ovladače lze plně nahradit nebo kombinovat s Vašim</span>
          <strong>chytrým telefonem</strong>.
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p class="desc">
          <span>Elegantní verze SLIM, s tloušťkou pouhých</span>
          <strong>16mm</strong>.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/16mm.svg" alt="16mm" height="75px" loading="lazy" />
          <small>16 mm</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/16mm.svg" alt="16mm" height="75px" loading="lazy" />
          <small>16 mm</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/29mm.svg" alt="29mm" height="75px" loading="lazy" />
          <small>29 mm</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/29mm.svg" alt="29mm" height="75px" loading="lazy" />
          <small>29 mm</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span>Oblíbená verze o síle 29mm, obsahující </span>
          <strong>zabudovaný jak AC/DC zdroj, tak i LED controler</strong>.
          <span>Odpadá tedy nutnost dodatečného řešení umístění napájecích a řídících komponentů.</span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p class="desc">
          <span>Obě verze svítících kamenných desek jsou připraveny pro snadnou montáž, která Vám nezabere déle než</span>
          <strong>10 minut</strong>.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/QuickMounting.svg" alt="QuickMounting" height="75px" loading="lazy" />
          <small>Quick<br />mounting</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/QuickMounting.svg" alt="QuickMounting" height="75px" loading="lazy" />
          <small>Quick<br />mounting</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/CustomSize.svg" alt="CustomSize" height="75px" loading="lazy" />
          <small>Custom<br />size</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/CustomSize.svg" alt="CustomSize" height="75px" loading="lazy" />
          <small>Custom<br />size</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span>V případě zájmu, je možná zakázková výroba svítící kamenné desky o</span>
          <strong>menším rozměru</strong>
          <span>než standardně dodávaným.</span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p class="desc">
          <span>Pro nasvícení jsou použity</span>
          <strong>vysokosvítivé LED pásky</strong>
          <span>s minimální spotřebou.</span>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/LED.svg" alt="LED" height="75px" loading="lazy" />
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/LED.svg" alt="LED" height="75px" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Dimmable.svg" alt="Dimmable" height="75px" loading="lazy" />
          <small>Dimmable</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Dimmable.svg" alt="Dimmable" height="75px" loading="lazy" />
          <small>Dimmable</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span>Plynule</span>
          <strong>stmívatelné osvětlení</strong>
          <span>, zajistí vždy tu správnou atmosféru.</span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p class="desc">
          <span>Na dotek drsný a reliéfní povrch kamenné desky, je impregnován profesionální</span>
          <strong>nano impregnací proti vlhkosti</strong>
          <span>a znečištění. Není vhodné k použití pro déletrvající kontakt s vodou</span>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Waterproof.svg" alt="Waterproof" height="75px" loading="lazy" />
          <small>Water<br />resistant</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Waterproof.svg" alt="Waterproof" height="75px" loading="lazy" />
          <small>Water<br />resistant</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Repair.svg" alt="Repair" height="75px" loading="lazy" />
          <small>Easy to repair</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Repair.svg" alt="Repair" height="75px" loading="lazy" />
          <small>Easy to repair</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span>Všechny věci mají svou životnost, která se dá opravou prodlužovat. Přestože se moderní LED technologie pyšní dobou životnosti dosahující <strong>50 000 hodin</strong>, jsou naše svítící kamenné desky kompletovány tak, aby je bylo možné vždy opravit a tak vystoupit z řady dnes vyráběných LED svítidel.</span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p class="desc">
          <span>Nabízíme širokou paletu barevných odstínů rámů svítících kamenných desek, včetně elegantních variant </span>
          <strong>RAL 140M</strong>, <strong>RAL 150M</strong>, <strong>RAL 260M</strong>
          <span>a</span>
          <strong>RAL 280M</strong>.
        </p>
      </div>
      <div class="piktogram__box"><Palette /></div>
    </div>
    <div class="text-center">
      <button class="button" id="piktogramsBtn" type="button">
        <span data-localize="features_btn_more"></span>
        <span data-localize="features_btn_less"></span>
      </button>
    </div>
  </div>
</section>

<style>
  #piktogramsBtn span[data-localize="features_btn_less"] {
    display: none;
  }

  #piktogramsBtn.show-less span[data-localize="features_btn_more"] {
    display: none;
  }

  #piktogramsBtn.show-less span[data-localize="features_btn_less"] {
    display: inline;
  }
</style>

<script>
  const piktogramsBtn = document.getElementById("piktogramsBtn") as HTMLButtonElement;
  const hiddenPiktogtams = document.querySelectorAll(".piktogram--hidden") as NodeListOf<HTMLDivElement>;

  const handlePictogramsVisbility = (init: boolean) => {
    piktogramsBtn &&
      hiddenPiktogtams.forEach((piktogtam) => {
        !init && piktogtam.classList.toggle("visible");
        piktogtam.classList.contains("visible") ? piktogramsBtn.classList.add("show-less") : piktogramsBtn.classList.remove("show-less");
      });
  };

  handlePictogramsVisbility(true);

  piktogramsBtn &&
    hiddenPiktogtams &&
    piktogramsBtn.addEventListener("click", () => {
      handlePictogramsVisbility(false);
    });
</script>
