---
import Palette from "../palette/Palette.astro";

const { id } = Astro.props;
---

<section id={id} class="dark">
  <div class="container container--s">
    <h2 class="title title--white text-center" data-localize="features_title"></h2>
    <div class="piktogram">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Ligthweight.svg" alt="lightweight" height="75px" loading="lazy" />
          <small>Ligth<br />weight</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Ligthweight.svg" alt="lightweight" height="75px" loading="lazy" />
          <small>Ligth<br />weight</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item1_desc1"></span>
          <strong data-localize="features_item1_desc2"></strong>
          <span data-localize="features_item1_desc3"></span>
          <strong data-localize="features_item1_desc4"></strong>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert" id="quick-mounting">
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item2_desc1"></span>
          <strong data-localize="features_item2_desc2"></strong><span data-localize="features_item2_desc3"></span>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Mounting.svg" alt="Mounting" height="75px" loading="lazy" />
          <small>Vert/Horiz<br />mounting</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Mounting.svg" alt="Mounting" height="75px" loading="lazy" />
          <small>Vert/Horiz<br />mounting</small>
        </div>
      </div>
    </div>
    <div class="piktogram">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Backlight.svg" alt="Backlight" height="75px" loading="lazy" />
          <small>Backlight<br />control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Backlight.svg" alt="Backlight" height="75px" loading="lazy" />
          <small>Backlight<br />control</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item3_desc1"></span>
          <strong data-localize="features_item3_desc2"></strong>
          <span data-localize="features_item3_desc3"></span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden" id="rf-control">
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item4_desc1"></span>
          <strong data-localize="features_item4_desc2"></strong>
          <span data-localize="features_item4_desc3"></span>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/RF_control.svg" alt="RF control" height="75px" loading="lazy" />
          <small>RF Wirless<br />Control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/RF_control.svg" alt="RF control" height="75px" loading="lazy" />
          <small>RF Wirless<br />Control</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden" id="smartphone-control">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/MobileControl.svg" alt="MobileControl" height="75px" loading="lazy" />
          <small>Smartphone<br />control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/MobileControl.svg" alt="MobileControl" height="75px" loading="lazy" />
          <small>Smartphone<br />control</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item5_desc1"></span>
          <strong data-localize="features_item5_desc2"></strong>
          <span data-localize="features_item5_desc3"></span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden" id="touch-control">
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item15_desc1"></span>
          <strong data-localize="features_item15_desc2"></strong>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/touch.svg" alt="Touch control" height="75px" loading="lazy" />
          <small>Touch<br />Control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/touch.svg" alt="Touch control" height="75px" loading="lazy" />
          <small>Touch<br />Control</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden" id="temperature">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/temperature.png" alt="MobileControl" height="75px" loading="lazy" />
          <small>Temperature</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/temperature.png" alt="MobileControl" height="75px" loading="lazy" />
          <small>Temperature</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item16_desc1"></span>
          <strong data-localize="features_item16_desc2"></strong>
          <span data-localize="features_item16_desc3"></span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden" id="thickness-11mm">
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item6_desc1"></span>
          <strong data-localize="features_item6_desc2"></strong>
          <span data-localize="features_item6_desc3"></span>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/11mm.svg" alt="11mm" height="75px" loading="lazy" />
          <small>11 mm</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/11mm.svg" alt="11mm" height="75px" loading="lazy" />
          <small>11 mm</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden" id="thickness-32mm">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/32mm.svg" alt="32mm" height="75px" loading="lazy" />
          <small>32 mm</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/32mm.svg" alt="32mm" height="75px" loading="lazy" />
          <small>32 mm</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item7_desc1"></span>
          <strong data-localize="features_item7_desc2"></strong>
          <span data-localize="features_item7_desc3"></span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden" id="laminated">
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item8_desc1"></span>
          <strong data-localize="features_item8_desc2"></strong>
          <span data-localize="features_item8_desc3"></span>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/laminated.svg" alt="laminated" height="75px" loading="lazy" />
          <small>laminated</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/laminated.svg" alt="laminated" height="75px" loading="lazy" />
          <small>laminated</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden" id="custom-size">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/CustomSize.svg" alt="CustomSize" height="75px" loading="lazy" />
          <small>Custom<br />size</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/CustomSize.svg" alt="CustomSize" height="75px" loading="lazy" />
          <small>Custom<br />size</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item9_desc1"></span>
          <strong data-localize="features_item9_desc2"></strong>
          <span data-localize="features_item9_desc3"></span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item10_desc1"></span>
          <strong data-localize="features_item10_desc2"></strong>
          <span data-localize="features_item10_desc3"></span>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/LED.svg" alt="LED" height="75px" loading="lazy" />
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/LED.svg" alt="LED" height="75px" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden" id="dimmable">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Dimmable.svg" alt="Dimmable" height="75px" loading="lazy" />
          <small>Dimmable</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Dimmable.svg" alt="Dimmable" height="75px" loading="lazy" />
          <small>Dimmable</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <strong data-localize="features_item11_desc1"></strong>
          <span data-localize="features_item11_desc2"></span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden" id="nano-impregnation">
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item12_desc1"></span>
          <strong data-localize="features_item12_desc2"></strong>
          <span data-localize="features_item12_desc3"></span><b></b>
          <i data-localize="features_item12_desc4"></i>
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Waterproof.svg" alt="Waterproof" height="75px" loading="lazy" />
          <small>Water<br />resistant</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Waterproof.svg" alt="Waterproof" height="75px" loading="lazy" />
          <small>Water<br />resistant</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden" id="easy-repair">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Repair.svg" alt="Repair" height="75px" loading="lazy" />
          <small>Easy to repair</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Repair.svg" alt="Repair" height="75px" loading="lazy" />
          <small>Easy to repair</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item13_desc1"></span>
          <strong data-localize="features_item13_desc2"></strong>
          <span data-localize="features_item13_desc3"></span>
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden" id="color-palette">
      <div class="piktogram__desc">
        <p class="desc">
          <span data-localize="features_item14_desc1"></span>
          <strong data-localize="features_item14_desc2"></strong>
          <span data-localize="features_item14_desc3"></span>
        </p>
      </div>
      <div class="piktogram__box"><Palette /></div>
    </div>
    <div class="text-center">
      <button class="button" id="piktogramsBtn" type="button">
        <span data-localize="features_btn_more"></span>
        <span data-localize="features_btn_less"></span>
      </button>
    </div>
  </div>
</section>

<style>
  #piktogramsBtn span[data-localize="features_btn_less"] {
    display: none;
  }

  #piktogramsBtn.show-less span[data-localize="features_btn_more"] {
    display: none;
  }

  #piktogramsBtn.show-less span[data-localize="features_btn_less"] {
    display: inline;
  }
</style>

<script>
  const piktogramsBtn = document.getElementById("piktogramsBtn") as HTMLButtonElement;
  const hiddenPiktogtams = document.querySelectorAll(".piktogram--hidden") as NodeListOf<HTMLDivElement>;
  const productFeatures = document.querySelectorAll(".price-list__features > li > a") as NodeListOf<HTMLAnchorElement>;

  const handlePictogramsVisbility = (init: boolean) => {
    piktogramsBtn &&
      hiddenPiktogtams.forEach((piktogtam) => {
        !init && piktogtam.classList.toggle("visible");
        piktogtam.classList.contains("visible") ? piktogramsBtn.classList.add("show-less") : piktogramsBtn.classList.remove("show-less");
      });
  };

  handlePictogramsVisbility(true);

  piktogramsBtn &&
    hiddenPiktogtams &&
    piktogramsBtn.addEventListener("click", () => {
      handlePictogramsVisbility(false);
    });

  productFeatures.forEach((feature) => {
    feature.addEventListener("click", () => {
      hiddenPiktogtams.forEach((piktogtam) => {
        piktogtam.classList.add("visible");
      });
      piktogramsBtn.classList.add("show-less");
    });
  });
</script>
