---
    const {id} = Astro.props;
---
<section id={id} class="light">
    <div class="container">
        <h2 class="title title--center title--mg-s">
            Montáž a cena
        </h2>
        <p class="desc desc--mg-s">
            Standardní dodávka obsahuje velkoplošnou svítící kamennou desku - o rozměru 2450 x 1220 mm, rám v
            černé
            barvě RAL 9005 mat, dle zvolené verze svítící desky SLIM nebo RTH (Ready-To-Hang) zabudovaný
            nebo externí zdroj 12V/24V a ovladač WiFi/ZigBee (s možností propojení na chytrou domácnost),
            pro zapínání/vypínáná a stmívání.
        </p>
        <p class="desc desc--mg-s">
            Základní cena standardní dodávky je 58.900,- Kč bez DPH 21%. Cenová kalkulace se provádí
            individuálně, v návaznosti na vybraný typ kamene. Orientační cena balného a dopravy je 1.900,- Kč za
            kus, dle místa dodání.
        </p>
        <p class="desc desc--no-mg">
            Pro zabudování externího zdroje a ovladače u verze SLIM, je možné u nást objednat odbornou montáž.
        </p>
    </div>
</section>