---
import Palette from "../palette/Palette.astro";

const { id } = Astro.props;
---

<section id={id}>
  <div class="container container--s">
    <h2 class="title title--white text-center">Vlastnosti</h2>
    <div class="piktogram">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Mounting.svg" alt="Mounting" height="75px" loading="lazy" />
          <small>Vert/Horiz<br />mounting</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Mounting.svg" alt="Mounting" height="75px" loading="lazy" />
          <small>Vert/Horiz<br />mounting</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p>
          Rámy kamenných desek jsou připraveny pro <strong>svislou</strong> i
          <strong>vodorovnou</strong> montáž, s využitím například jako svítící čelo postele.
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert">
      <div class="piktogram__desc">
        <p>
          Pro zpříjemnění atmosféry, umožňuje rám svítící kamenné desky využití efektního, stmívatelného <strong>zadního podsvětlení</strong>.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Blacklight.svg" alt="Blacklight" height="75px" loading="lazy" />
          <small>Blacklight<br />control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Blacklight.svg" alt="Blacklight" height="75px" loading="lazy" />
          <small>Blacklight<br />control</small>
        </div>
      </div>
    </div>
    <div class="piktogram">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/RF_control.svg" alt="RF_control" height="75px" loading="lazy" />
          <small>RF Wirless<br />Control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/RF_control.svg" alt="RF_control" height="75px" loading="lazy" />
          <small>RF Wirless<br />Control</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p>
          Ovládání zapínání a vypínání, stejně jako intenzitu prosvětlení kamene a zadního podsvětlení, můžete ovládat přiloženým <strong>RF dálkovým ovladačem</strong>.
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert">
      <div class="piktogram__desc">
        <p>
          Veškeré funkce dálkového ovladače lze plně nahradit nebo kombinovat s Vašim <strong>chytrým telefonem</strong>.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/MobileControl.svg" alt="MobileControl" height="75px" loading="lazy" />
          <small>Smartphone<br />control</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/MobileControl.svg" alt="MobileControl" height="75px" loading="lazy" />
          <small>Smartphone<br />control</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/14mm.svg" alt="14mm" height="75px" loading="lazy" />
          <small>14 mm</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/14mm.svg" alt="14mm" height="75px" loading="lazy" />
          <small>14 mm</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p>
          Elegantní verze SLIM, s tloušťkou pouhých <strong>14mm</strong>.
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p>
          Oblíbená verze o síle 25mm, obsahující <strong>zabudovaný</strong> jak <strong>AC/DC zdroj</strong>, tak i
          <strong>LED controler</strong>. Odpadá tedy nutnost dodatečného řešení umístění napájecích a řídících komponentů.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/25mm.svg" alt="25mm" height="75px" loading="lazy" />
          <small>25 mm</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/25mm.svg" alt="25mm" height="75px" loading="lazy" />
          <small>25 mm</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/QuickMounting.svg" alt="QuickMounting" height="75px" loading="lazy" />
          <small>Quick<br />mounting</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/QuickMounting.svg" alt="QuickMounting" height="75px" loading="lazy" />
          <small>Quick<br />mounting</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p>
          Obě verze svítících kamenných desek jsou připraveny pro snadnou montáž, která Vám nezabere déle než <strong>10 minut</strong>.
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p>
          V případě zájmu, je možná zakázková výroba svítící kamenné desky o <strong>menším rozměru</strong> než standardně dodávaným.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/CustomSize.svg" alt="CustomSize" height="75px" loading="lazy" />
          <small>Custom<br />size</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/CustomSize.svg" alt="CustomSize" height="75px" loading="lazy" />
          <small>Custom<br />size</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/LED.svg" alt="LED" height="75px" loading="lazy" />
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/LED.svg" alt="LED" height="75px" loading="lazy" />
        </div>
      </div>
      <div class="piktogram__desc">
        <p>
          Pro nasvícení jsou použity <strong>vysokosvítivé LED pásky</strong> s minimální spotřebou.
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p>
          Plynule <strong>stmívatelné osvětlení</strong>, zajistí vždy tu správnou atmosféru.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Dimmable.svg" alt="Dimmable" height="75px" loading="lazy" />
          <small>Dimmable</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Dimmable.svg" alt="Dimmable" height="75px" loading="lazy" />
          <small>Dimmable</small>
        </div>
      </div>
    </div>
    <div class="piktogram piktogram--hidden">
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Waterproof.svg" alt="Waterproof" height="75px" loading="lazy" />
          <small>Water<br />resistant</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Waterproof.svg" alt="Waterproof" height="75px" loading="lazy" />
          <small>Water<br />resistant</small>
        </div>
      </div>
      <div class="piktogram__desc">
        <p>
          Na dotek drsný a reliéfní povrch kamenné desky, je impregnován profesionální <strong>nano impregnací proti vlhkosti</strong> a znečištění.
        </p>
      </div>
    </div>
    <div class="piktogram piktogram--invert piktogram--hidden">
      <div class="piktogram__desc">
        <p>
          Všechny věci mají svou životnost, která se dá opravou prodlužovat. Přestože se moderní LED technologie pyšní dobou životnosti dosahující <strong>50 000 hodin</strong>, jsou naše svítící kamenné desky kompletovány tak, aby je bylo možné vždy opravit a tak vystoupit z řady dnes vyráběných LED svítidel.
        </p>
      </div>
      <div class="piktogram__box">
        <div class="piktogram__circle">
          <img src="./images/symbols/Repair.svg" alt="Repair" height="75px" loading="lazy" />
          <small>Easy to repair</small>
        </div>
        <div class="piktogram__circle">
          <img src="./images/symbols/Repair.svg" alt="Repair" height="75px" loading="lazy" />
          <small>Easy to repair</small>
        </div>
      </div>
    </div>
    <div class="piktogram">
      <div class="piktogram__box"><Palette /></div>
      <div class="piktogram__desc">
        <p>
          Nabízíme širokou paletu barevných odstínů kamene, včetně elegantních variant <strong>RAL 140M</strong>, <strong>RAL 150M</strong>, <strong>RAL 260M</strong> a <strong>RAL 280M</strong>.
        </p>
      </div>
    </div>
    <div class="text-center">
      <button class="button" id="piktogramsBtn" type="button">Show More</button>
    </div>
  </div>
</section>

<script>
  const piktogramsBtn = document.getElementById("piktogramsBtn") as HTMLButtonElement;
  const hiddenPiktogtams = document.querySelectorAll(".piktogram--hidden") as NodeListOf<HTMLDivElement>;

  const handlePictogramsVisbility = (init: boolean) => {
    piktogramsBtn &&
      hiddenPiktogtams.forEach((piktogtam) => {
        !init && piktogtam.classList.toggle("visible");
        piktogtam.classList.contains("visible") ? (piktogramsBtn.innerHTML = "Zobrazit méně") : (piktogramsBtn.innerHTML = "Zobrazit více");
      });
  };

  handlePictogramsVisbility(true);

  piktogramsBtn &&
    hiddenPiktogtams &&
    piktogramsBtn.addEventListener("click", () => {
      handlePictogramsVisbility(false);
    });
</script>
