---
import Icon from "../icons/Icon.astro";
const { id } = Astro.props;
---

<section id={id} class="light">
  <div class="container container--l">
    <h2 class="title text-center title--mg-s" data-localize="gallery_title"></h2>
    <p class="desc text-center">
      <span data-localize="gallery_desc_part1"></span>
      <strong data-localize="gallery_desc_part2"></strong><span data-localize="gallery_desc_part3"></span>
      <strong data-localize="gallery_desc_part4"></strong>
      <span data-localize="gallery_desc_part5"></span>
    </p>
  </div>
  <div class="container container--l gallery">
    <a href="./videos/Rock_sheet_animation_background.mp4" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener">
      <div class="gitem__photo">
        <picture>
          <source type="image/webp" sizes="(min-width: 426px)" srcset="./images/gallery/Rockfoil_viz1_video_768.webp" />
          <source type="image/webp" sizes="(max-width: 425px)" srcset="./images/gallery/Rockfoil_viz1_video_425.webp" />
          <img src="./images/gallery/Rockfoil_viz1_video_425.webp" loading="lazy" width="768" height="446" alt="Demonstrační video" />
        </picture>
      </div>
      <div class="gitem__content">
        <Icon name="play" />
      </div>
    </a>

    <a href="https://www.theasys.io/viewer/52yTAK9fAdceRkI8KoRZLYYkLgPkaq" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener" data-type="iframe">
      <div class="gitem__photo">
        <img src="./images/gallery/360-day.webp" loading="lazy" width="425" height="247" alt="360 náhled - den" />
      </div>
      <div class="gitem__content">
        <Icon name="360" />
      </div>
    </a>
    <a href="https://www.theasys.io/viewer/Uz4hwyuKcA1R8BPTSoKNLfyFWWiyOl" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener" data-type="iframe">
      <div class="gitem__photo">
        <img src="./images/gallery/360-night.webp" loading="lazy" width="425" height="247" alt="360 náhled - Noc" />
      </div>
      <div class="gitem__content">
        <Icon name="360" />
      </div>
    </a>

    <a href="./images/gallery/Rockfoil_viz2_1440.webp" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener">
      <div class="gitem__photo">
        <img src="./images/gallery/Rockfoil_viz2_425.webp" loading="lazy" width="425" height="247" alt="Kámen 2" />
      </div>
      <div class="gitem__content">
        <strong>PINK</strong>
      </div>
    </a>
    <a href="./images/gallery/Rockfoil_viz3_1440.webp" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener">
      <div class="gitem__photo">
        <img src="./images/gallery/Rockfoil_viz3_425.webp" loading="lazy" width="425" height="247" alt="Kámen 3" />
      </div>
      <div class="gitem__content">
        <strong>DARKGOLD</strong>
      </div>
    </a>
    <a href="./images/gallery/Rockfoil_viz4_1440.webp" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener">
      <div class="gitem__photo">
        <img src="./images/gallery/Rockfoil_viz4_425.webp" loading="lazy" width="425" height="247" alt="Kámen 4" />
      </div>
      <div class="gitem__content">
        <strong>SUNLIGHT</strong>
      </div>
    </a>
    <a href="./images/gallery/Rockfoil_viz8_1440.webp" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener">
      <div class="gitem__photo">
        <img src="./images/gallery/Rockfoil_viz8_425.webp" loading="lazy" width="425" height="247" alt="Kámen 8" />
      </div>
      <div class="gitem__content">
        <strong>SUNLIGHT</strong>
      </div>
    </a>
    <a href="./images/gallery/Rockfoil_viz9_1440.webp" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener">
      <div class="gitem__photo">
        <img src="./images/gallery/Rockfoil_viz9_425.webp" loading="lazy" width="425" height="247" alt="Kámen 9" />
      </div>
      <div class="gitem__content">
        <strong>GOLDENBARK</strong>
      </div>
    </a>
    <a href="./images/gallery/Rockfoil_viz7_1440.webp" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem" rel="noopener">
      <div class="gitem__photo">
        <img src="./images/gallery/Rockfoil_viz7_425.webp" loading="lazy" width="425" height="247" alt="Kámen 7" />
      </div>
      <div class="gitem__content">
        <strong>SUNLIGHT</strong>
      </div>
    </a>
    <a href="./images/gallery/Rockfoil_viz5_1440.webp" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem hidden" rel="noopener">
    </a>
    <a href="./images/gallery/Rockfoil_viz6_1440.webp" aria-label="Kámen jako osvětlení interiéru" data-fancybox="gallery" class="gitem hidden" rel="noopener">
    </a>
  </div>
  <div class="container">
    <p class="desc desc--mg-s desc--center">
      <span data-localize="gallery_under-text"></span>
      <a href="https://www.designatak.cz/" aria-label="Go to ATAK Design web" class="link" style="text-decoration: underline;" rel="external">ATAK Design</a>.
      <br /><br />
      <picture>
        <source type="image/avif" sizes="(min-width: 100px)" srcset="./images/logos/atak-logo.avif" />
        <source type="image/webp" sizes="(min-width: 100px)" srcset="./images/logos/atak-logo.webp" />
        <img src="./images/logos/atak-logo.webp" loading="lazy" width="250" alt="Logo společnosti ATAK Design" />
      </picture>
    </p>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const elements = document.querySelectorAll("[data-fancybox]");
      const observerOptions = {
        root: null,
        rootMargin: "0px",
        threshold: 0.1,
      };

      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            import("@fancyapps/ui").then(({ Fancybox }) => {
              Fancybox.bind("[data-fancybox]", {});

              if (!document.querySelector('link[href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"]')) {
                const link = document.createElement("link");
                link.rel = "stylesheet";
                link.type = "text/css";
                link.href = "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css";

                document.head.appendChild(link);
              }
            });

            observer.unobserve(entry.target);
          }
        });
      }, observerOptions);

      elements.forEach((element) => {
        observer.observe(element);
      });
    });
  </script>
</section>
