---
import Icon from "../icons/Icon.astro";

const { id } = Astro.props;
---

<section id={id} class="dark inline-container h-100">
  <div class="showcase">
    <div class="tablet-content">
      <h2><span data-localize="showcase_title_part1"></span><small data-localize="showcase_title_part2"></small></h2>
      <p>
        <span data-localize="showcase_desc_part1"></span>
        <strong data-localize="showcase_desc_part2"></strong>
        <span data-localize="showcase_desc_part3"></span>
      </p>
    </div>
    <div class="showcase__img">
      <img src="./images/showcase/rockfoil_pink_dark_mirror.webp" alt="Kamenná deska Goldenbark" width="1200" />
      <img src="./images/showcase/rockfoil_pink_dark_frame_mirror.webp" alt="Kamenná deska Goldenbark - rozsvícený rám" width="1200" />
      <img src="./images/showcase/rockfoil_pink_light_frame_mirror.webp" alt="Kamenná deska Goldenbark - rozsvícená" class="active" width="1200" />
    </div>
    <div class="showcase__content">
      <div class="not-tablet-content">
        <h2><span data-localize="showcase_title_part1"></span><small data-localize="showcase_title_part2"></small></h2>
        <p>
          <span data-localize="showcase_desc_part1"></span>
          <strong data-localize="showcase_desc_part2"></strong>
          <span data-localize="showcase_desc_part3"></span>
        </p>
      </div>
      <div class="showcase__buttons">
        <button class="button" type="button" aria-label="Light off">
          <Icon name="turn-off" />
          <small data-localize="showcase_btn1"></small>
        </button>
        <button class="button" type="button" aria-label="Light the Frame">
          <Icon name="frame" />
          <small data-localize="showcase_btn2"></small>
        </button>
        <button class="button active" type="button" aria-label="Light the Panel">
          <Icon name="bulp" />
          <small data-localize="showcase_btn3"></small>
        </button>
      </div>
    </div>
  </div>
</section>

<script>
  const buttons = document.querySelectorAll(".showcase__buttons > button") as NodeListOf<HTMLButtonElement>;
  const images = document.querySelectorAll(".showcase__img > img") as NodeListOf<HTMLImageElement>;

  buttons.forEach((button, index) => {
    button.addEventListener("click", () => {
      buttons.forEach((btn) => {
        btn.classList.remove("active");
      });

      button.classList.add("active");

      images.forEach((image) => {
        image.classList.remove("active");
      });

      images[index].classList.add("active");
    });
  });
</script>
