---
import Icon from "../icons/Icon.astro";
import { useTranslations, type Lang } from "../../i18n/utils";

interface Props {
  id: string;
  lang?: Lang;
}

const { id, lang = "cs" } = Astro.props;
const t = useTranslations(lang);
---

<section id={id} class="dark inline-container h-100">
  <div class="showcase">
    <div class="tablet-content">
      <h2>
        <span>{t("showcase.titlePart1")}</span>
        <small>{t("showcase.titlePart2")}</small>
      </h2>
      <p class="desc m-0">
        <span>{t("showcase.descPart1")}</span>
        <strong>{t("showcase.descPart2")}</strong>
        <span>{t("showcase.descPart3")}</span>
      </p>
    </div>
    <div class="showcase__img">
      <img
        src="/images/showcase/rockfoil_pink_dark_mirror.webp"
        alt={t("products.stoneAsLighting")}
        width="1200"
      />
      <img
        src="/images/showcase/rockfoil_pink_dark_frame_mirror.webp"
        alt={t("products.stoneAsLighting")}
        width="1200"
      />
      <img
        src="/images/showcase/rockfoil_pink_light_frame_mirror.webp"
        alt={t("products.stoneAsLighting")}
        class="active"
        width="1200"
      />
    </div>
    <div class="showcase__content">
      <div class="not-tablet-content">
        <h2>
          <span>{t("showcase.titlePart1")}</span>
          <small>{t("showcase.titlePart2")}</small>
        </h2>
        <p class="desc m-0">
          <span>{t("showcase.descPart1")}</span>
          <strong>{t("showcase.descPart2")}</strong>
          <span>{t("showcase.descPart3")}</span>
        </p>
      </div>
      <div class="showcase__buttons">
        <button class="button" type="button" aria-label={t("showcase.btn1")}>
          <Icon name="turn-off" />
          <small>{t("showcase.btn1")}</small>
        </button>
        <button class="button" type="button" aria-label={t("showcase.btn2")}>
          <Icon name="frame" />
          <small>{t("showcase.btn2")}</small>
        </button>
        <button
          class="button active"
          type="button"
          aria-label={t("showcase.btn3")}
        >
          <Icon name="bulp" />
          <small>{t("showcase.btn3")}</small>
        </button>
      </div>
    </div>
  </div>
</section>

<script>
  const buttons = document.querySelectorAll(
    ".showcase__buttons > button"
  ) as NodeListOf<HTMLButtonElement>;
  const images = document.querySelectorAll(
    ".showcase__img > img"
  ) as NodeListOf<HTMLImageElement>;

  buttons.forEach((button, index) => {
    button.addEventListener("click", () => {
      buttons.forEach((btn) => {
        btn.classList.remove("active");
      });

      button.classList.add("active");

      images.forEach((image) => {
        image.classList.remove("active");
      });

      images[index].classList.add("active");
    });
  });
</script>
