@import "../base/global";

.social {
    @include grid-columns(grid, repeat(auto-fit, minmax($gap-xl, $gap-xxl)), $gap-l, center);
    
    a {
      --item-scale: 1;
      display: grid;
      place-items: center;
      inline-size: $gap-xxl;
      aspect-ratio: 1;
      color: var(--color-white);
      text-decoration: none;
      
      @include hover {
        --item-scale: 1.1;
      }

      > .icon {
        --icon-size: #{$gap-xxl};
        scale: var(--item-scale);
        transition: scale $trans-time ease-in-out;
        fill: currentColor;
      }
    }
  }