---
import Layout from "../layouts/Layout.astro";
import Showroom from "../components/sections/Showroom.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={t('meta.titleGallery')}
  description={t('meta.descriptionGallery')}
  metaImageUrl="/images/meta/meta-facebook.webp"
  pageType="CollectionPage"
  breadcrumbs={[
    { name: "Home", url: "/" },
    { name: "Gallery", url: "/gallery" },
  ]}
>
  <main>
    <Showroom id="gallery" lang={lang} />
  </main>
</Layout>
