---
import Layout from "../layouts/Layout.astro";
import Showroom from "../components/sections/Showroom.astro";
---

<Layout
  title="ANEW STYLE | Galerie"
  description="Galerie svítících kamenných panelů ANEW STYLE."
>
  <main>
    <Showroom id="gallery" />
  </main>
</Layout>
