---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav/Nav.astro";
import Showcase from "../components/sections/Showcase.astro";
import Features from "../components/sections/Features.astro";
import BeforeAfter from "../components/sections/BeforeAfter.astro";
import Showroom from "../components/sections/Showroom.astro";
import Contact from "../components/sections/Contact.astro";
import Products from "../components/sections/Products.astro";
---

<Layout title="ANEW STYLE | Svítící kamenné desky" description="Designové interiérové osvětlení.">
  <Nav />
  <header>
    <video class="header__video" loop aria-label="Anew style header video" muted preload="metadata" autoplay>
      <source src="./videos/main-video.mp4" type="video/mp4" />
      <source src="./videos/main-video.webm" type="video/webm" />
      <source src="./videos/main-video.ogv" type="video/ogg" />
    </video>
    <div class="header__content">
      <div>
        <h1>Anew Style</h1>
      </div>
      <strong>Designové interiérové osvětlení</strong>
      <a class="button" href="#about" aria-label="Přejít na sekci o nás" rel="noopener">Chci vědet více</a>
    </div>
  </header>
  <main>
    <Showcase id="about" />
    <Products id="products" />
    <Features id="features" />
    <BeforeAfter />
    <Showroom id="showroom" />
    <Contact id="contact" />
  </main>
</Layout>
