---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav/Nav.astro";
import Header from "../components/header/Header.astro";
import Showcase from "../components/sections/Showcase.astro";
import Features from "../components/sections/Features.astro";
import BeforeAfter from "../components/sections/BeforeAfter.astro";
import Showroom from "../components/sections/Showroom.astro";
import Contact from "../components/sections/Contact.astro";
import Products from "../components/sections/Products.astro";
import PriceList from "../components/sections/PriceList.astro";
import Technologies from "../components/sections/Technologies.astro";
---

<Layout title="ANEW STYLE | Svítící kamenné panely" description="Designové interiérové osvětlení.">
  <Nav />
  <Header />
  <main>
    <Showcase id="about" />
    <Technologies id="technologies" />
    <Products id="products" />
    <Features id="features" />
    <BeforeAfter />
    <PriceList id="price-list"/>
    <Showroom id="showroom" />
    <Contact id="contact" />
  </main>
</Layout>
