@import "../base/global";

.link {
    --link-text-decor: none;
    --link-text-trans: none;
    --icon-trans-x: 0;
    @include flex-set(inline-flex, row, nowrap, 1.2rem);
    font-family: $font-text;
    font-size: var(--link-font-size, large);
    color: var(--link-color, #{$color-white});
    text-decoration: var(--link-text-decor);
    text-transform: underline;
    transition: color var(--trans-time) var(--trans-fnc);

    @include res-max-tablet {
        --trans-time: 0;
        --link-font-size: medium;
    }

    &--uppercase {
        --link-text-trans: uppercase;
    }

    &--picture {
        position: relative;
        address {
            position: absolute;
            inset: auto auto $gap-m $gap-m;
            padding: .5;
            padding: $gap-s;
            background-color: $color-white;
            color: $color-black;
            white-space: nowrap
        }
    }

    @include hover {
        --link-text-decor: underline;
        --icon-trans-x: #{$gap-s};
    }

    > span {
        font-size: 1em;
        color: currentColor;
    }

    > .icon {
        --icon-size: #{$gap-xl};
        transform: translateX(var(--icon-trans-x));
        transition: transform $trans-time ease-in-out;

        @include res-max-mobile-m {
            --icon-size: #{$gap-l};
        }
    }
}
