@import "../base/global";

.logo {
    --logo-display: block;
    --logo-pad-x: #{$gap-xl};
    --logo-max-width: none;
    display: var(--logo-display);
    padding: 0 var(--logo-pad-x);

    @include res-max-laptop-s {
        --logo-pad-x: #{$gap-m};
        --logo-max-width: 12rem;
    }

    &--mobile{
        --logo-display: none;
        --logo-max-width: 14rem;
        
        @include res-max-tablet {
            --logo-display: block;
        }
    }

    > amp-img {
        display: block;
        max-width: var(--logo-max-width);
        height: auto;
    }
}
