@import "mixins";

.element-to-middle {
    @include position;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.inline-flex {
    display: inline-flex;
}

.inline-block {
    display: inline-block;
}

.invisible{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    z-index: -999;
}