@import "mixins";

.element-to-middle {
    @include position;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.inline-flex {
    display: inline-flex;
}

.inline-block {
    display: inline-block;
}

.invisible{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    z-index: -999;
}

.grid{
    @include grid-columns(grid, repeat(var(--col-count, 2), minmax($gap-xxl, 1fr)), var(--gap, #{$gap-xxl}), flex-start);

    @include res-max-tablet{
        --col-count: 1;
    }
}