---
import Icon from "../icons/Icon.astro";
---

<header>
  <video
    class="header__video"
    id="headerVideo"
    aria-label="Anew style header video"
    preload="metadata"
    autoplay
    loop
    muted></video>
  <div class="header__content">
    <div>
      <h1>Anew style</h1>
    </div>
    <strong data-localize="header_title"></strong>
    <div class="header__buttons">
      <a
        class="button"
        href="#about"
        id="headerArButton"
        aria-label="Přejít na sekci o nás"
        rel="noopener"
        data-localize="header_btn_more"></a>
      <a
        class="button button--secondary"
        href="https://www.anewstyle-eshop.cz"
        rel="external"
        target="_blank"
        aria-label="Přejít na e-shop"
      >
        <span data-localize="header_btn_eshop"></span>
        <Icon name="eshop" iconClass="icon-header" />
      </a>
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const videoElement = document.querySelector("#headerVideo");
    const screenWidth = window.innerWidth;

    if (screenWidth > 560) {
      const sources = [
        { src: "./videos/main-video.mp4", type: "video/mp4" },
        { src: "./videos/main-video.webm", type: "video/webm" },
        { src: "./videos/main-video.ogv", type: "video/ogg" },
      ];

      videoElement &&
        sources.forEach((source) => {
          let sourceElement = document.createElement("source");
          sourceElement.src = source.src;
          sourceElement.type = source.type;
          videoElement.appendChild(sourceElement);
        });
    } else {
      videoElement && videoElement.remove();
    }
  });
</script>
