---
import Icon from "../icons/Icon.astro";
---

<header>
  <video
    class="header__video"
    id="headerVideo"
    aria-label="Anew style header video"
    preload="metadata"
    autoplay
    loop
    muted></video>
  <div class="header__content">
    <div>
      <h1>Anew style</h1>
    </div>
    <strong data-localize="header_title"></strong>
    <div class="header__buttons">
      <a
        class="button"
        href="#about"
        id="headerMoreButton"
        aria-label="Přejít na sekci o nás"
        rel="noopener"
      >
        <span data-localize="header_btn_more"></span>
      </a>
      <!-- E-shop button - visible on desktop only -->
      <a
        class="button button--secondary header__eshop-btn"
        href="https://www.anewstyle-eshop.cz"
        rel="external"
        target="_blank"
        aria-label="Přejít na e-shop"
      >
        <span data-localize="header_btn_eshop"></span>
        <Icon name="eshop" iconClass="icon-header" />
      </a>
      <!-- AR button - visible on tablet and mobile only -->
      <button
        class="button button--secondary header__ar-btn"
        id="headerArButton"
        type="button"
        aria-label="Zobrazit v AR u mě doma"
      >
        <span>Zobraz u mňe doma</span>
        <Icon name="ar" iconClass="icon-header" />
      </button>
    </div>
  </div>
</header>

<script src="../scripts/header-ar.ts"></script>
