@import "../base/global";

header {
    position: relative;
    background-color: var(--color-black);

    @include res-max-laptop-s {
        min-block-size: 100vh;
        max-block-size: 2048px;
        background-image: linear-gradient(180deg, var(--color-trans) 30%, $color-bg-darken), url("../../wwwroot/images/gallery/light/rock_foil_2000x1200.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
}

.header__mobile-content {
       @include flex-set(var(--header_mobile-content, none), column, nowrap, 2vh, flex-start, center, center);
    position: absolute;
    inset: auto auto 15vh 0;
    inline-size: 100%;
    padding-inline: $gap-l;

    @include res-max-laptop-s {
        --header_mobile-content: flex;
    }

    > strong {
        display: inline-block;
        font-family: $font-title;
        font-size: clamp($gap-xxl, 5em, 10vh);
        font-weight: 400;
        line-height: 1;
        color: var(--color-white);
        text-shadow: var(--color-black) 0 0 1.5rem;
    }
}
