/*
    Dots plugin
*/
/*
    Navigation plugin
*/
.carousel {
  position: relative;
  box-sizing: border-box; }
  .carousel *,
  .carousel *:before,
  .carousel *:after {
    box-sizing: inherit; }
  .carousel.is-draggable {
    cursor: move;
    cursor: grab; }
  .carousel.is-dragging {
    cursor: move;
    cursor: grabbing; }

.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%; }

.carousel__track {
  display: flex; }

.carousel__slide {
  flex: 0 0 auto;
  width: var(--carousel-slide-width, 60%);
  max-width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain; }

.has-dots {
  margin-bottom: calc(0.5rem + 22px); }

.carousel__dots {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none; }
  .carousel__dots .carousel__dot {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer; }
    .carousel__dots .carousel__dot:after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: currentColor;
      opacity: 0.25;
      transition: opacity 0.15s ease-in-out; }
    .carousel__dots .carousel__dot.is-selected:after {
      opacity: 1; }

.carousel__button {
  width: var(--carousel-button-width, 48px);
  height: var(--carousel-button-height, 48px);
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  color: var(--carousel-button-color, currentColor);
  background: var(--carousel-button-bg, transparent);
  border-radius: var(--carousel-button-border-radius, 50%);
  box-shadow: var(--carousel-button-shadow, none);
  transition: opacity 0.15s ease; }
  .carousel__button.is-prev, .carousel__button.is-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .carousel__button.is-prev {
    left: 10px; }
  .carousel__button.is-next {
    right: 10px; }
  .carousel__button[disabled] {
    cursor: default;
    opacity: 0.3; }
  .carousel__button svg {
    width: var(--carousel-button-svg-width, 50%);
    height: var(--carousel-button-svg-height, 50%);
    fill: none;
    stroke: currentColor;
    stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
    stroke-linejoin: bevel;
    stroke-linecap: round;
    filter: var(--carousel-button-svg-filter, none);
    pointer-events: none; }

/*
  Thumbs plugin
*/
/* 3/2 */
/*
  HTML plugin
*/
/*
  Toolbar plugin
*/
html.with-fancybox {
  scroll-behavior: auto; }

body.compensate-for-scrollbar {
  overflow: hidden !important;
  touch-action: none; }

.fancybox__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  direction: ltr;
  margin: 0;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--fancybox-color, #fff);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1050;
  outline: none;
  transform-origin: top left;
  --carousel-button-width: 48px;
  --carousel-button-height: 48px;
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4)); }
  .fancybox__container *,
  .fancybox__container *::before,
  .fancybox__container *::after {
    box-sizing: inherit; }
  .fancybox__container :focus {
    outline: none; }
  body:not(.is-using-mouse) .fancybox__container :focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94)); }
  @media all and (min-width: 1024px) {
    .fancybox__container {
      --carousel-button-width: 48px;
      --carousel-button-height: 48px;
      --carousel-button-svg-width: 27px;
      --carousel-button-svg-height: 27px; } }

.fancybox__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--fancybox-bg, rgba(24, 24, 27, 0.92)); }

.fancybox__carousel {
  position: relative;
  flex: 1 1 auto;
  min-height: 0;
  /* For Safari */
  height: 100%;
  z-index: 10; }
  .fancybox__carousel.has-dots {
    margin-bottom: calc(0.5rem + 22px); }

.fancybox__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default; }

.fancybox__track {
  display: flex;
  height: 100%; }

.fancybox__slide {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 48px 8px 8px 8px;
  position: relative;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  outline: 0;
  overflow: auto;
  --carousel-button-width: 36px;
  --carousel-button-height: 36px;
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px; }
  .fancybox__slide::before, .fancybox__slide::after {
    content: "";
    flex: 0 0 0;
    margin: auto; }
  @media all and (min-width: 1024px) {
    .fancybox__slide {
      padding: 64px 100px; } }

.fancybox__content {
  margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
  padding: 36px;
  color: var(--fancybox-content-color, #374151);
  background: var(--fancybox-content-bg, #fff);
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  z-index: 20; }
  .fancybox__content :focus:not(.carousel__button.is-close) {
    outline: thin dotted;
    box-shadow: none; }

.fancybox__caption {
  align-self: center;
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 0 0;
  line-height: 1.375;
  color: var(--fancybox-color, currentColor);
  visibility: visible;
  cursor: auto;
  flex-shrink: 0;
  overflow-wrap: anywhere; }
  .is-loading .fancybox__caption {
    visibility: hidden; }

.fancybox__container > .carousel__dots {
  top: 100%;
  color: var(--fancybox-color, #fff); }

.fancybox__nav .carousel__button {
  z-index: 40; }
  .fancybox__nav .carousel__button.is-next {
    right: 8px; }
    @media all and (min-width: 1024px) {
      .fancybox__nav .carousel__button.is-next {
        right: 40px; } }
  .fancybox__nav .carousel__button.is-prev {
    left: 8px; }
    @media all and (min-width: 1024px) {
      .fancybox__nav .carousel__button.is-prev {
        left: 40px; } }

.carousel__button.is-close {
  position: absolute;
  top: 8px;
  right: 8px;
  top: calc(env(safe-area-inset-top, 0px) + 8px);
  right: calc(env(safe-area-inset-right, 0px) + 8px);
  z-index: 40; }
  @media all and (min-width: 1024px) {
    .carousel__button.is-close {
      right: 40px; } }

/* Close button located inside content area */
.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--fancybox-color, #fff); }

.fancybox__no-click,
.fancybox__no-click button {
  pointer-events: none; }

.fancybox__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: var(--fancybox-color, currentColor); }
  .fancybox__slide .fancybox__spinner {
    cursor: pointer;
    z-index: 1053; }
  .fancybox__spinner svg {
    animation: fancybox-rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%; }
    .fancybox__spinner svg circle {
      fill: none;
      stroke-width: 2.75;
      stroke-miterlimit: 10;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: fancybox-dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: currentColor; }

@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

.fancybox__backdrop,
.fancybox__caption,
.fancybox__nav,
.carousel__dots,
.carousel__button.is-close {
  opacity: var(--fancybox-opacity, 1); }

/* Opening */
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__backdrop,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__caption,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__nav,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__dots,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__button.is-close {
  animation: 0.15s ease backwards fancybox-fadeIn; }

/* Closing */
.fancybox__container.is-animated.is-closing .fancybox__backdrop,
.fancybox__container.is-animated.is-closing .fancybox__caption,
.fancybox__container.is-animated.is-closing .fancybox__nav,
.fancybox__container.is-animated.is-closing .carousel__dots,
.fancybox__container.is-animated.is-closing .carousel__button.is-close {
  animation: 0.15s ease both fancybox-fadeOut; }

.fancybox-fadeIn {
  animation: 0.15s ease both fancybox-fadeIn; }

.fancybox-fadeOut {
  animation: 0.1s ease both fancybox-fadeOut; }

.fancybox-zoomInUp {
  animation: 0.2s ease both fancybox-zoomInUp; }

.fancybox-zoomOutDown {
  animation: 0.15s ease both fancybox-zoomOutDown; }

/* Both `throwOut` classes are for closing animation after dragging up/down */
.fancybox-throwOutUp {
  animation: 0.15s ease both fancybox-throwOutUp; }

.fancybox-throwOutDown {
  animation: 0.15s ease both fancybox-throwOutDown; }

@keyframes fancybox-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fancybox-fadeOut {
  to {
    opacity: 0; } }

@keyframes fancybox-zoomInUp {
  from {
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0; }
  to {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes fancybox-zoomOutDown {
  to {
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0; } }

@keyframes fancybox-throwOutUp {
  to {
    transform: translate3d(0, -30%, 0);
    opacity: 0; } }

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 30%, 0);
    opacity: 0; } }

.fancybox__carousel .carousel__slide {
  scrollbar-width: thin;
  scrollbar-color: #ccc rgba(255, 255, 255, 0.1); }

.fancybox__carousel .carousel__slide::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); }

.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); }

.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grab; }

.fancybox__carousel.is-dragging .fancybox__slide,
.fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grabbing; }

.fancybox__carousel .fancybox__slide .fancybox__content {
  cursor: auto; }

.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
  cursor: zoom-in; }

.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
  cursor: zoom-out; }

.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
  cursor: move;
  cursor: grab; }

.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
  cursor: move;
  cursor: grabbing; }

.fancybox__image {
  transform-origin: 0 0;
  user-select: none;
  transition: none; }

.has-image .fancybox__content {
  padding: 0;
  background: transparent;
  min-height: 1px; }
  .is-closing .has-image .fancybox__content {
    overflow: visible; }

.has-image[data-image-fit="contain"] {
  overflow: visible;
  touch-action: none;
  /* Fix Mac OS Safari 11 - 13 */ }
  .has-image[data-image-fit="contain"] .fancybox__content {
    flex-direction: row;
    flex-wrap: wrap; }
  .has-image[data-image-fit="contain"] .fancybox__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

.has-image[data-image-fit="contain-w"] {
  overflow-x: hidden;
  overflow-y: auto; }
  .has-image[data-image-fit="contain-w"] .fancybox__content {
    min-height: auto; }
  .has-image[data-image-fit="contain-w"] .fancybox__image {
    max-width: 100%;
    height: auto; }

.has-image[data-image-fit="cover"] {
  overflow: visible;
  touch-action: none; }
  .has-image[data-image-fit="cover"] .fancybox__content {
    width: 100%;
    height: 100%; }
  .has-image[data-image-fit="cover"] .fancybox__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  max-width: 100%;
  flex-shrink: 1;
  min-height: 1px;
  overflow: visible; }

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
  width: 100%;
  height: 80%; }

.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  width: 960px;
  height: 540px;
  max-width: 100%;
  max-height: 100%; }

.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  padding: 0;
  background: rgba(24, 24, 27, 0.9);
  color: #fff; }

.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
  background: #e5e3df; }

.fancybox__html5video,
.fancybox__iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: transparent; }

.fancybox-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; }

.fancybox__thumbs {
  flex: 0 0 auto;
  position: relative;
  padding: 0px 3px;
  opacity: var(--fancybox-opacity, 1); }
  .fancybox__container.is-animated[aria-hidden="false"] .fancybox__thumbs {
    animation: 0.15s ease-in backwards fancybox-fadeIn; }
  .fancybox__container.is-animated.is-closing .fancybox__thumbs {
    opacity: 0; }
  .fancybox__thumbs .carousel__slide {
    flex: 0 0 auto;
    width: var(--fancybox-thumbs-width, 96px);
    margin: 0;
    padding: 8px 3px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    cursor: pointer; }
    .fancybox__thumbs .carousel__slide .fancybox__thumb::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 5px;
      border-style: solid;
      border-color: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
      opacity: 0;
      transition: opacity 0.15s ease;
      border-radius: var(--fancybox-thumbs-border-radius, 4px); }
    .fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
      opacity: 0.92; }
    .fancybox__thumbs .carousel__slide > * {
      pointer-events: none;
      user-select: none; }

.fancybox__thumb {
  position: relative;
  width: 100%;
  /* Keep aspect ratio */
  padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  border-radius: var(--fancybox-thumbs-border-radius, 4px); }

.fancybox__toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.006) 8.1%, rgba(0, 0, 0, 0.021) 15.5%, rgba(0, 0, 0, 0.046) 22.5%, rgba(0, 0, 0, 0.077) 29%, rgba(0, 0, 0, 0.114) 35.3%, rgba(0, 0, 0, 0.155) 41.2%, rgba(0, 0, 0, 0.198) 47.1%, rgba(0, 0, 0, 0.242) 52.9%, rgba(0, 0, 0, 0.285) 58.8%, rgba(0, 0, 0, 0.326) 64.7%, rgba(0, 0, 0, 0.363) 71%, rgba(0, 0, 0, 0.394) 77.5%, rgba(0, 0, 0, 0.419) 84.5%, rgba(0, 0, 0, 0.434) 91.9%, rgba(0, 0, 0, 0.44) 100%);
  padding: 0;
  touch-action: none;
  display: flex;
  justify-content: space-between;
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  opacity: var(--fancybox-opacity, 1);
  text-shadow: var(--fancybox-toolbar-text-shadow, 1px 1px 1px rgba(0, 0, 0, 0.4)); }
  @media all and (min-width: 1024px) {
    .fancybox__toolbar {
      padding: 8px; } }
  .fancybox__container.is-animated[aria-hidden="false"] .fancybox__toolbar {
    animation: 0.15s ease-in backwards fancybox-fadeIn; }
  .fancybox__container.is-animated.is-closing .fancybox__toolbar {
    opacity: 0; }
  .fancybox__toolbar__items {
    display: flex; }
    .fancybox__toolbar__items--left {
      margin-right: auto; }
    .fancybox__toolbar__items--center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .fancybox__toolbar__items--right {
      margin-left: auto; }
    @media (max-width: 640px) {
      .fancybox__toolbar__items--center:not(:last-child) {
        display: none; } }

.fancybox__counter {
  min-width: 72px;
  padding: 0 10px;
  line-height: var(--carousel-button-height, 48px);
  text-align: center;
  font-size: 17px;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: subpixel-antialiased; }

.fancybox__progress {
  background: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 30;
  user-select: none; }

.fancybox__container:fullscreen::backdrop {
  opacity: 0; }

.fancybox__button--fullscreen g:nth-child(2) {
  display: none; }

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none; }

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block; }

.fancybox__button--slideshow g:nth-child(2) {
  display: none; }

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
  display: none; }

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
  display: block; }

:root {
  --color-black: black;
  --color-black--trans: rgba(0, 0, 0, 0.6);
  --color-black--trans-dark: rgba(0, 0, 0, 0.8);
  --color-white: white;
  --color-border: var(--color-white);
  --color-trans: rgba(0, 0, 0, 0);
  --color-bg: #2a2c2a;
  --color-bg-nav: rgba(17, 22, 24, 0.45);
  --color-primary: #ffd900;
  --color-primary--hover: #ccad00;
  --color-secondary: #2a2c2a;
  --color-font: white;
  --trans-time: 0.25s;
  --trans-fnc: ease-in-out;
  --animate-all: all ease-in-out var(0.25s);
  --gap-xxl: 3.2rem;
  --gap-xl: 2.4rem;
  --gap-l: 1.6rem;
  --gap-m: 0.8rem;
  --gap-s: 0.4rem;
  --font-text: system-ui;
  --font-title: ratiomodern, serif;
  --border-width: 1px;
  --nav-height: 8rem; }
  @media only screen and (max-width: 1024px) {
    :root {
      --nav-height: 7rem; } }
  @media only screen and (max-width: 768px) {
    :root {
      --nav-height: 5rem; } }

* {
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  position: relative;
  padding: 0;
  margin: 0; }
  body:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("wwwroot/images/backgrounds/main-bg.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    opacity: .6;
    z-index: -1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address {
  font-style: normal; }

body {
  display: flex;
  flex-flow: column wrap; }
  body nav {
    flex: none; }
  body header {
    flex: 0 0 auto;
    width: 100%; }
  body main {
    flex: 1 1 auto;
    width: 100%; }
  body footer {
    flex: 0 0 auto;
    width: 100%; }

.element-to-middle {
  position: absolute;
  inset: 50% auto auto 50%;
  translate: -50% -50%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.inline-flex {
  display: inline-flex; }

.inline-block {
  display: inline-block; }

.invisible {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
  z-index: -999; }

.grid {
  display: grid;
  grid-template-columns: repeat(var(--col-count, 2), minmax(3.2rem, 1fr));
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: var(--gap, 3.2rem); }
  @media only screen and (max-width: 768px) {
    .grid {
      --col-count: 1; } }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: ratiomodern, serif;
  font-weight: 400;
  font-style: normal; }

p, span, small {
  font-family: system-ui;
  font-weight: 100; }

.title {
  --title-justify-content: flex-start;
  --title-font-size: 6em;
  --title-color: white;
  --title-mg-bottom: 3.2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: normal;
  justify-content: var(--title-justify-content);
  gap: 0;
  margin-bottom: var(--title-mg-bottom);
  font-family: ratiomodern, serif;
  font-size: var(--title-font-size);
  line-height: 1.2;
  color: var(--title-color); }
  @media only screen and (max-width: 1440px) {
    .title {
      --title-font-size: 3.2em; } }
  @media only screen and (max-width: 1024px) {
    .title {
      --title-font-size: 2.4em; } }
  @media only screen and (max-width: 768px) {
    .title {
      --title-font-size: 4em;
      --title-mg-bottom: 2.4rem; } }
  @media only screen and (max-width: 425px) {
    .title {
      --title-font-size: 3.2em; } }
  .title--center {
    --title-justify-content: center; }
  .title--white {
    --title-color: white; }
  .title--s {
    --title-font-size: 3.2em; }
    @media only screen and (max-width: 1440px) {
      .title--s {
        --title-font-size: 2.4em;
        --title-mg-bottom: 3.2rem; } }
    @media only screen and (max-width: 1024px) {
      .title--s {
        --title-font-size: 1.6em; } }
    @media only screen and (max-width: 768px) {
      .title--s {
        --title-font-size: 3.2em;
        --title-mg-bottom: 2.4rem; } }
    @media only screen and (max-width: 425px) {
      .title--s {
        --title-font-size: 2.4em; } }

.desc {
  --border-width: 0;
  --mg-b: 5rem;
  --desc-font-size: large;
  border-left: var(--border-width) solid white;
  padding-left: var(--desc-pad-left);
  margin-bottom: var(--mg-b);
  font-family: system-ui;
  font-size: var(--desc-font-size);
  line-height: 1.7;
  color: white; }
  @media only screen and (max-width: 1024px) {
    .desc {
      --desc-font-size: medium; } }
  @media only screen and (max-width: 425px) {
    .desc {
      --mg-b: 3.2rem; } }
  .desc--line {
    --desc-pad-left: 1.6rem;
    --border-width: .2rem; }
  .desc--no-mg {
    --mg-b: 0; }
  .desc--mg-s {
    --mg-b: 3.2rem; }
  .desc strong, .desc a:not(.button), .desc b, .desc span {
    font-family: inherit;
    font-size: inherit; }

address {
  font-family: system-ui;
  font-size: clamp(1.6rem, 2vh, 2.4rem);
  color: white; }

ul:not([class]) {
  display: grid;
  grid-template-columns: minmax(3.2rem, auto);
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
  margin-block-end: 1.6rem;
  font-family: system-ui;
  font-size: var(--list_font-size, large);
  color: white; }
  @media only screen and (max-width: 768px) {
    ul:not([class]) {
      --list_font-size: medium; } }

.button {
  --btn-color: var(--color-white);
  --btn-bg-color: rgba(0, 0, 0, 0.8);
  --btn-padding-x: 3.2rem;
  --btn-padding-y: 1.6rem;
  --btn-width: 20rem;
  --btn-font-size: large;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1.6rem;
  border: 1px solid var(--color-trans);
  min-width: var(--btn-width);
  padding-block: var(--btn-padding-y);
  padding-inline: var(--btn-padding-x);
  background-color: var(--btn-bg-color);
  font-family: system-ui;
  font-size: var(--btn-font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--btn-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color var(--trans-time) var(--trans-fnc);
  cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .button {
      --btn-padding-x: 1.6rem;
      --btn-padding-y: 1.2rem;
      --btn-font-size: medium;
      --btn-width: 16rem; } }
  @media (hover: hover) {
    .button:hover {
      --btn-bg-color: var(--color-black); } }

.burger {
  --burger-display: none;
  position: relative;
  display: var(--burger-display);
  place-items: center;
  inline-size: 2.4rem;
  aspect-ratio: 1;
  padding: 0;
  background: none;
  border-color: var(--color-trans);
  color: var(--color-white);
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .burger {
      --burger-display: grid; } }

.container {
  inline-size: var(--container-width, 80%);
  min-inline-size: var(--container-min-width, 1024px);
  padding-inline: var(--container-pad-x, 3.2rem);
  margin-inline: auto; }
  @media only screen and (max-width: 1440px) {
    .container {
      --container-width: 75%;
      --container-min-width: 0; } }
  @media only screen and (max-width: 1366px) {
    .container {
      --container-width: 85%; } }
  @media only screen and (max-width: 1024px) {
    .container {
      --container-width: 90%; } }
  @media only screen and (max-width: 768px) {
    .container {
      --container-width: 100%; } }
  @media only screen and (max-width: 425px) {
    .container {
      --container-pad-x: 2.4rem; } }
  @media only screen and (max-width: 375px) {
    .container {
      --container-pad-x: 1.6rem; } }

.icon {
  --icon-size: 2.4rem;
  display: block;
  inline-size: var(--icon-size);
  aspect-ratio: 1;
  fill: currentColor; }

.link {
  --link-color: currentColor;
  --link-text-decor: none;
  --link-text-trans: none;
  --icon-trans-x: 0;
  --link-font-size: 1em;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: normal;
  justify-content: flex-start;
  gap: 1.2rem;
  font-family: system-ui;
  font-size: var(--link-font-size);
  color: var(--link-color);
  text-decoration: var(--link-text-decor);
  text-transform: underline;
  transition: color var(--trans-time) var(--trans-fnc); }
  @media only screen and (max-width: 768px) {
    .link {
      --trans-time: 0; } }
  .link--uppercase {
    --link-text-trans: uppercase; }
  .link--primary {
    --link-color: var(--color-primary);
    --link-text-decor: underline; }
    .link--primary:hover {
      --link-color: var(--color-primary--hover); }
  .link--header {
    padding: 0.8rem 3.2rem; }
  .link:hover {
    --link-text-decor: underline;
    --icon-trans-x: 0.4rem; }
  .link > span {
    font-size: 1em;
    color: currentColor; }
  .link > .icon {
    --icon-size: 2.4rem;
    transform: translateX(var(--icon-trans-x));
    transition: transform 0.25s ease-in-out; }
    @media only screen and (max-width: 375px) {
      .link > .icon {
        --icon-size: 1.6rem; } }

.logo {
  --logo-display: block;
  --logo-pad-x: 2.4rem;
  --logo-max-width: none;
  display: var(--logo-display);
  padding: 0 var(--logo-pad-x); }
  @media only screen and (max-width: 1024px) {
    .logo {
      --logo-pad-x: 0.8rem;
      --logo-max-width: 12rem; } }
  .logo--mobile {
    --logo-display: none;
    --logo-max-width: 14rem; }
    @media only screen and (max-width: 768px) {
      .logo--mobile {
        --logo-display: block; } }
  .logo > amp-img {
    display: block;
    max-width: var(--logo-max-width);
    height: auto; }

@media only screen and (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 0.8rem; }
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2a2c2a;
    border-radius: 0.4rem;
    cursor: move; }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111618; } }

.tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: normal;
  justify-content: flex-start;
  gap: 1.6rem;
  padding: 0;
  margin-block-end: var(--mg-b, 5rem);
  list-style: none; }
  @media only screen and (max-width: 425px) {
    .tags {
      --mg-b: 3.2rem; } }
  .tags > li {
    padding: 0.4rem 0.8rem;
    background-color: white;
    font-size: medium;
    color: black;
    text-transform: uppercase; }

.ba-slider {
  --ba-position: 50%;
  position: relative;
  display: grid;
  max-height: 80vh;
  overflow: hidden;
  place-content: center; }
  .ba-slider img {
    display: block;
    inline-size: var(--ba-inline-size); }

.image-container + span {
  position: absolute;
  inset: auto auto 1.6rem 50%;
  font-family: ratiomodern, serif;
  font-size: clamp(1.6rem, 3vh, 2em);
  font-weight: 300;
  color: var(--color-white);
  translate: -50%;
  z-index: 3;
  pointer-events: none; }

.slider-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: left; }

.image-before, .image-after {
  overflow: hidden; }
  .image-before > strong, .image-after > strong {
    position: absolute;
    inset: auto auto 1em calc(var(--ba-inline-size) / 2);
    opacity: .7;
    font-size: clamp(3.2rem, 7vh, 8em);
    letter-spacing: .1em;
    color: var(--color-white);
    text-transform: uppercase;
    white-space: nowrap;
    translate: -50%; }

.image-before {
  position: absolute;
  inset: 0;
  inline-size: var(--ba-position);
  z-index: 2; }

.image-after {
  z-index: 1; }

.slider {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer; }

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px; }

.slider-line {
  position: absolute;
  inset: 0;
  left: var(--ba-position);
  inline-size: .2rem;
  block-size: 100%;
  background-color: #fff;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none; }

.slider-button {
  --icon-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: var(--ba-position);
  display: grid;
  place-items: center;
  block-size: 4rem;
  aspect-ratio: 1;
  background-color: var(--color-white);
  border-radius: 100vmax;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 1px 1px 1px rgba(8, 3, 3, 0.5);
  pointer-events: none; }

.c-item {
  --c-item-photo_scale: 1;
  --c-item-title_opacity: 0;
  --c-item-title_translate-y: -0.5em;
  --c-item-button_opacity: 0;
  --c-item-button_translate-y: 1em;
  position: relative;
  min-block-size: 100vh;
  max-block-size: 2048px;
  overflow: hidden; }
  .c-item.is-active {
    --c-item-photo_scale: 1.2;
    --c-item-button_opacity: 1;
    --c-item-button_translate-y: 0;
    --c-item-title_opacity: 1;
    --c-item-title_translate-y: 0; }
  .c-item__photo {
    position: absolute;
    inset: 0;
    opacity: 0.9;
    scale: var(--c-item-photo_scale);
    transition: scale 5s linear;
    z-index: 1; }
    .c-item__photo img {
      position: absolute;
      inset: 50% auto auto 50%;
      translate: -50% -50%;
      position: relative;
      display: block;
      min-inline-size: 100%;
      min-block-size: 100%; }
  .c-item__content {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: normal;
    justify-content: center;
    gap: var(--c_gap, 3em);
    position: absolute;
    inset: auto 10vw 20vh auto;
    padding-block-start: 4em;
    padding-block-end: 2em;
    overflow: hidden;
    z-index: 3; }
    .c-item__content > h1,
    .c-item__content > strong {
      position: relative;
      display: inline-block;
      opacity: var(--c-item-title_opacity);
      font-family: ratiomodern, serif;
      font-size: clamp(3.2rem, 8em, 20vh);
      font-weight: 400;
      line-height: 1;
      line-height: 1.2;
      color: var(--color-white);
      text-shadow: var(--color-black) 0 0 1.5rem;
      translate: 0 var(--c-item-title_translate-y);
      transition: opacity 1s var(--trans-fnc), translate 1s var(--trans-fnc); }
      @media only screen and (max-width: 1024px) {
        .c-item__content > h1,
        .c-item__content > strong {
          font-size: clamp(3.2rem, 5em, 10vh); } }
    .c-item__content > .button {
      opacity: var(--c-item-button_opacity);
      translate: 0 var(--c-item-button_translate-y);
      transition: opacity 1s var(--trans-fnc) 0.5s, translate 1s var(--trans-fnc) 0.5s, background-color var(--trans-time) var(--trans-fnc), color var(--trans-time) var(--trans-fnc); }

@keyframes showText {
  to {
    --content_color: var(--color-white); } }

.contact__wrapper {
  display: grid;
  grid-template-columns: var(--contact_col-temp, 150px minmax(1.6rem, 1fr));
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: var(--contact_gap, 10vw); }
  @media only screen and (max-width: 768px) {
    .contact__wrapper {
      --contact_col-temp: 100px minmax(1.6rem, 1fr); } }
  @media only screen and (max-width: 768px) {
    .contact__wrapper img {
      max-inline-size: 100px; } }

.contact__grid {
  display: grid;
  grid-template-columns: repeat(var(--col-count, 2), minmax(1.6rem, 1fr));
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: var(--contact_gap, 5vw); }
  @media only screen and (max-width: 768px) {
    .contact__grid {
      --col-count: 1; } }
  .contact__grid .button {
    margin-block-start: 3.2rem; }

footer {
  padding: 1.6rem;
  background-color: black; }
  footer > small {
    display: block;
    width: 100%;
    font-family: system-ui;
    font-size: small;
    color: white;
    text-align: center; }

.gallery {
  display: grid;
  grid-template-columns: repeat(var(--col-count, 4), minmax(0.8rem, 1fr));
  align-items: var(--align-items, flex-start);
  align-content: flex-start;
  justify-content: flex-start;
  gap: var(--gap, 0.4rem); }
  @media only screen and (max-width: 1024px) {
    .gallery {
      --gap: 1.6rem;
      --col-count: 3; } }
  @media only screen and (max-width: 768px) {
    .gallery {
      --col-count: 2; } }
  @media only screen and (max-width: 425px) {
    .gallery {
      --col-count: 1;
      --gap: 2.4rem; } }

.gitem {
  --photo_scale: 1;
  --text_translate-x: calc(-100% - 3.2rem);
  --content_backgdrop-filter: blur(0);
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden; }
  .gitem:first-child {
    grid-column-end: span var(--gitem_colspan, 2);
    grid-row-end: span var(--gitem_rowspan, 2); }
    @media only screen and (max-width: 425px) {
      .gitem:first-child {
        --gitem_colspan: 1;
        --gitem_rowspan: 1; } }
  @media (hover: hover) {
    .gitem:hover {
      --photo_scale: 1.1;
      --text_translate-x: 0;
      --content_backgdrop-filter: blur(.1em); } }
  .gitem__photo {
    position: relative;
    inline-size: 100%;
    aspect-ratio: 16 / 9; }
    .gitem__photo img {
      position: absolute;
      inset: 50% auto auto 50%;
      translate: -50% -50%;
      display: block;
      inline-size: 100%;
      scale: var(--photo_scale);
      transition: scale .5s ease-in-out; }
  .gitem__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: normal;
    justify-content: flex-start;
    gap: 0.5em;
    position: absolute;
    inset: 0;
    padding: 2.4rem;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: medium;
    color: white;
    transition: backdrop-filter .2s linear;
    backdrop-filter: var(--content_backgdrop-filter); }
    .gitem__content > strong {
      display: block;
      margin-block-end: .5em;
      font-size: 1.5em;
      text-shadow: var(--color-black) 0 0 0.5rem; }
    .gitem__content > p {
      display: inline-block;
      padding: 0.4rem 0.8rem;
      margin: 0;
      background-color: var(--color-white);
      color: var(--color-black);
      translate: var(--text_translate-x);
      transition: translate .2s linear; }
      .gitem__content > p:last-child {
        transition-delay: .05s; }

header {
  position: relative;
  background-color: var(--color-black); }
  @media only screen and (max-width: 1024px) {
    header {
      min-block-size: 100vh;
      max-block-size: 2048px;
      background-image: linear-gradient(180deg, var(--color-trans) 30%, #191a19), url("../../wwwroot/images/gallery/light/rock_foil_2000x1200.png");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover; } }

.header__mobile-content {
  display: var(--header_mobile-content, none);
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  gap: 2vh;
  position: absolute;
  inset: auto auto 15vh 0;
  inline-size: 100%;
  padding-inline: 1.6rem; }
  @media only screen and (max-width: 1024px) {
    .header__mobile-content {
      --header_mobile-content: flex; } }
  .header__mobile-content > strong {
    display: inline-block;
    font-family: ratiomodern, serif;
    font-size: clamp(3.2rem, 5em, 10vh);
    font-weight: 400;
    line-height: 1;
    line-height: 1.2;
    color: var(--color-white);
    text-shadow: var(--color-black) 0 0 1.5rem; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--color-bg-nav);
  color: var(--nav-color, white);
  z-index: 999; }
  @media only screen and (max-width: 768px) {
    nav {
      --nav-justify-content: space-between;
      --color-bg-nav: #111618; } }

.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: var(--nav-justify-content, space-between);
  gap: 0; }

.logo {
  display: block;
  block-size: var(--logo_size, 6rem);
  padding: 0; }
  @media only screen and (max-width: 768px) {
    .logo {
      --logo_size: 4rem; } }
  .logo > img {
    display: block;
    block-size: 100%; }

.menu {
  display: var(--menu-display, inline-flex);
  flex-flow: var(--menu-flex-direction, row) nowrap;
  align-items: center;
  align-content: var(--menu-align-content, center);
  justify-content: center;
  gap: var(--menu-gap, 5em);
  inline-size: auto;
  block-size: var(--menu-height, auto);
  padding: var(--menu-pad-top, 0) 0 0 0;
  background-color: var(--menu-bg, var(--color-trans));
  list-style: none; }
  @media only screen and (max-width: 1024px) {
    .menu {
      --menu-gap: 2.4rem;
      --menu-temp-col: repeat(auto-fit, minmax(110px, auto)); } }
  @media only screen and (max-width: 768px) {
    .menu {
      --menu-display: none;
      --menu-height: calc(100vh - var(--nav-height));
      --menu-gap: 3.2rem;
      --menu-align-content: flex-start;
      --menu-bg: #191a19;
      --menu-pad-top: 15vh;
      position: absolute;
      inset: 100% 0 auto 0; } }
  @media only screen and (max-width: 768px) {
    .menu--open {
      --menu-display: grid;
      --menu-temp-col: minmax(130px, 1fr); } }
  .menu li a {
    --nav-item-min-font-size: 16px;
    transition: color var(--trans-time) var(--trans-fnc) 0s;
    display: block;
    font-family: system-ui;
    font-size: clamp(var(--nav-item-min-font-size), 2vh, 2.4rem);
    color: var(--nav-color);
    text-align: center;
    text-decoration: none;
    white-space: nowrap; }
    @media only screen and (max-width: 768px) {
      .menu li a {
        --nav-item-min-font-size: 18px; } }
    .menu li a:hover {
      text-decoration: underline; }

@keyframes showMenu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

section {
  --sec-bg: #2a2c2a;
  --sec-pad-y: 10vh;
  scroll-margin-top: var(--sec_scroll-mg, 0);
  padding: var(--sec-pad-y) 0;
  background-color: var(--sec-bg); }
  @media only screen and (max-width: 1366px) {
    section {
      --sec-pad-y: 5rem; } }
  @media only screen and (max-width: 768px) {
    section {
      --sec-pad-y: 8vh;
      --sec_scroll-mg: var(--nav-height); } }
  section.dark {
    --sec-bg: #191a19; }
  section.no-pt {
    padding-top: 0; }
  section.no-p {
    padding: 0; }
  section.full-height {
    min-height: 100vh; }
    section.full-height > .container {
      position: absolute;
      inset: 50% auto auto 50%;
      translate: -50% -50%; }

.nav + main > section:first-of-type {
  padding-top: calc(var(--sec-pad-y) + var(--nav-height)); }

/*# sourceMappingURL=style.css.map */