@import "../base/global";

.c-item {
    --c-item-photo_scale: 1;
    --c-item-title_opacity: 0;
    --c-item-title_translate-y: -0.5em;
    --c-item-button_opacity: 0;
    --c-item-button_translate-y: 1em;
    position: relative;
    min-block-size: 100vh;
    max-block-size: 2048px;
    overflow: hidden;

    &.is-active {
        --c-item-photo_scale: 1.2;
        --c-item-button_opacity: 1;
        --c-item-button_translate-y: 0;
        --c-item-title_opacity: 1;
        --c-item-title_translate-y: 0;
    }

    &__photo {
        position: absolute;
        inset: 0;
        opacity: 0.9;
        scale: var(--c-item-photo_scale);
        transition: scale 7s linear;
        z-index: 1;

        img {
            @include position;
            display: block;
            min-inline-size: 100%;
            max-inline-size: 100%;
            block-size: auto;
            min-block-size: 100%;
        }
    }

    &__content {
        @include flex-set(flex, column, wrap, var(--c_gap, 3em), flex-start, center);
        position: absolute;
        inset: auto 10vw 20vh auto;
        padding-block-start: 4em;
        padding-block-end: 2em;
        overflow: hidden;
        z-index: 3;

        > h1,
        > strong {
            position: relative;
            display: inline-block;
            opacity: var(--c-item-title_opacity);
            font-family: $font-title;
            font-size: clamp($gap-xxl, 8em, 20vh);
            font-weight: 400;
            line-height: 1;
            line-height: 1.2;
            color: var(--color-white);
            text-shadow: var(--color-black) 0 0 1.5rem;
            translate: 0 var(--c-item-title_translate-y);
            transition: opacity 1s var(--trans-fnc), translate 1s var(--trans-fnc);

            @include res-max-laptop-s {
                font-size: clamp($gap-xxl, 5em, 10vh);
            }
        }

        > .button {
            opacity: var(--c-item-button_opacity);
            translate: 0 var(--c-item-button_translate-y);
            transition: opacity 1s var(--trans-fnc) 0.5s, translate 1s var(--trans-fnc) 0.5s,
                background-color var(--trans-time) var(--trans-fnc), color var(--trans-time) var(--trans-fnc);
        }
    }
}

@keyframes showText {
    to {
        --content_color: var(--color-white);
    }
}
