@import "../Base/global";

nav {
    position: fixed;
    top: 0;
    left: 0;  
    display: grid;
    place-items: center;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--color-bg-nav);
    color: var(--nav-color, #{$color-font});
    z-index: 999;

    @include res-max-tablet {
        --nav-justify-content: space-between;
        --color-bg-nav: #{$color-bg-nav-mobile};
    }
}

.nav__container{
    @include flex-set(flex, row, nowrap, 0, center, var(--nav-justify-content, space-between), center);
}

.logo {
    display: block;
    block-size: var(--logo_size, 6rem);
    padding: 0;

    @include res-max-tablet {
        --logo_size: 4rem;
    }

    > img {
        display: block;
        block-size: 100%;
    }
}

.menu {
    @include flex-set(
        var(--menu-display, inline-flex),
        var(--menu-flex-direction, row),
        nowrap,
        var(--menu-gap, 5em),
        center,
        center,
        var(--menu-align-content, center)
    );
    inline-size: auto;
    block-size: var(--menu-height, auto);
    padding: var(--menu-pad-top, 0) 0 0 0;
    background-color: var(--menu-bg, var(--color-trans));
    list-style: none;

    @include res-max-laptop-s {
        --menu-gap: #{$gap-xl};
        --menu-temp-col: repeat(auto-fit, minmax(110px, auto));
    }

    @include res-max-tablet {
        --menu-display: none;
        --menu-height: calc(100vh - var(--nav-height));
        --menu-gap: #{$gap-xxl};
        --menu-align-content: flex-start;
        --menu-bg: #{$color-bg-darken};
        --menu-pad-top: 15vh;
        position: absolute;
        inset: 100% 0 auto 0;
    }

    &--open {
        @include res-max-tablet {
            --menu-display: grid;
            --menu-temp-col: minmax(130px, 1fr);
        }
    }

    li a {
        --nav-item-min-font-size: 16px;
        @include transition(color);
        display: block;
        font-family: $font-text;
        font-size: clamp(var(--nav-item-min-font-size), 2vh, $gap-xl);
        color: var(--nav-color);
        text-align: center;
        text-decoration: none;
        white-space: nowrap;

        @include res-max-tablet {
            --nav-item-min-font-size: 18px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

@keyframes showMenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
