---
import Icon from "../icons/Icon.astro";
import { useTranslations, type Lang } from "../../i18n/utils";

export interface Props {
  id: string;
  title: string;
  price: string;
  features: Record<string, boolean>;
  lang?: Lang;
}

const { id, title, price, features, lang = "cs" } = Astro.props as Props;
const t = useTranslations(lang);
---

<div class="price-item" html-id={id}>
  <div class="price-item__header">
    <strong>{title}</strong>
    <span>
      <span id={`price-${id}`}>{price}</span>
      <span>{t("price.currency")}</span>
    </span>
  </div>
  <ul class="price-item__content">
    {
      Object.entries(features).map(([feature, isAvailable], index) => (
        <>
          <li>
            <Icon name={isAvailable ? "check" : "close-bold"} />
          </li>
        </>
      ))
    }
  </ul>
</div>
