//colors
$color-black: hsl(0 0% 0%);
$color-black--trans: hsl(0 0% 0% / 0.5);
$color-black--light: hsl(0 0% 2%);
$color-white: hsl(0 0% 100%);
$color-white--trans: hsl(0 0% 100% / 0.4);
// extra transparent whites for subtle separators
$color-white--trans-13: hsl(0 0% 100% / 0.13);
$color-white--trans-08: hsl(0 0% 100% / 0.08);
$color-trans: hsl(0 0% 0% / 0);
$color-primary: hsl(43 33% 48%);
$color-primary--hover: hsl(from #{$color-primary} h s 58%);
$color-primary--lighten: hsl(from #{$color-primary} h s 63%);
$color-secondary: hsl(0 0% 7%);
$color-bg: $color-secondary;
$color-bg-trans: hsl(0 0% 7% / 0.5);
$color-bg-trans-dark: hsl(0 0% 7% / 0.8);
$color-bg--light: hsl(200 18% 10% / 0.65);
$color-bg-nav: $color-bg-trans-dark;
$color-bg-nav-mobile: hsl(200 18% 8%);
$color-footer-bg: hsl(0 0% 11%);
$color-font: $color-white;
$color-dialog-border: hsl(120 2% 17% / 0.7);
$color-dialog-backdrop: hsl(0 0% 0% / 0.25);
$color-disabled: hsl(0 0% 50%);
$color-bg-disabled: hsl(0 0% 83%);
$color-border: hsl(0 0% 33%);
$color-row-bg: hsl(0 0% 5%);

// Shadows
$color-shadow-strong: hsl(0 0% 0% / 0.4);

// Layout widths
$container-max-width: 1200px;
$dialog-max-width: 680px;

// Borders
$border-1: 1px;

$trans-time: 0.25s;
$animate-all: all ease-in-out var($trans-time);
$gap-m: 0.8rem;
$gap-s: calc($gap-m / 2);
$gap-l: calc($gap-m * 2);
$gap-xl: calc($gap-m * 3);
$gap-xxl: calc($gap-m * 4);
$font-text: system-ui;
$font-title: "segoe-ui-bold", sans-serif;

// All devices width for MediaQuery
$width-mobile-s: 320px;
$width-mobile-m: 425px;
$width-mobile-l: 560px;
$width-tablet: 768px;
$width-laptop-s: 1024px;
$width-laptop-m: 1366px;
$width-laptop-l: 1440px;
$width-laptop-xl: 1920px;
$width-4k: 2560px;
$height-4k: 2160px;
